:css
  #not_found {
    min-height: 450px;
    background-image: 
      url('/app/images/panda404_400.png');
    background-position: 
      center top;
    background-repeat: 
      no-repeat;
  }
  @media  (max-width: 479px) {
    #not_found {
      background-image: 
        url('/app/images/panda404_250.png');
      background-position: 
        center top;
      min-height: 335px;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    #not_found {
      background-image: 
        url('/app/images/panda404_300.png');
      background-position: 
        center top;
      min-height: 400px;
    }
  }
  @media (min-width: 768px) and (max-width: 979px) {
    #not_found {
      background-image: 
        url('/app/images/panda404_350.png');
    }
  }
   
  h1 span {
    font-size: 16px;
    color: #888;
    color: rgb(136, 136, 136);
    text-shadow: none;
  }

- content_for :page_title, @message || "An error occurred"

%h1= @message || "An error has occurred"

%p You can try <a href="javascript:window.location.reload();">refreshing the page</a>, if the problem is temporary.

%p You can also try the following:

%ul.spaced-items
  %li Seek assistance in the #{link_to "support forum", forums_url}.
  %li Join #{link_to "IRC channel #openshift", irc_web_url } on Freenode.
  %li If you are experiencing a repeatable error not related to a service outage, #{link_to "report it as a bug", open_bug_url }.

- if @reference_id
  %p.error-reference Reference ##{@reference_id}

