- content_for :page_title, @message || 'Page not found'

%h1= @message || 'Page not found <small>404</small>'.html_safe

%section
  - unless @message
    %h2 The page you requested was not found or may no longer exist

  - if @alternatives.present?
    %p Were you looking for any of the following?
    %ul
      - @alternatives.each do |alt|
        %li= link_to alt[0], alt[1], alt[2] || {}

  %ul
    %li= link_to "Applications", console_path
    %li= link_to "View your account", account_path
    %li= link_to "Get help", console_help_path

  %p #{link_to "Contact us", mailto_openshift_url} if you feel you have reached this page in error.

  - if @reference_id
    %p.error-reference Reference ##{@reference_id}
