= div_for application_type, :class => 'thumbnail' do

  %h3= application_type.name

  %aside
    - if application_type.version
      .version
        %label Full version:
        %span= application_type.version

    -# if application_type.license
      .license
        %label License:
        - if application_type.respond_to? :license_url
          = link_to application_type.license, application_type.license_url
        - else
          %span= application_type.license

    - if application_type.website
      .website
        %label Website:
        = link_to application_type.website, application_type.website

  %p= application_type.description

  - if application_type.learn_more_url
    = link_to "Learn more", application_type.learn_more_url

  - unless defined? hide_link
    = link_to "Select »", application_type_path(application_type)
