= div_for application_type, :class => defined?(classes) ? classes : nil do

  - if application_type.categories.include? :new
    %span.label.label-important.pull-right Recently Added

  %h3= application_type.name

  - if defined? extra_info

    %ul.unstyled.meta

      -# if application_type.license
        %li.license
          %label License:
          - if application_type.respond_to? :license_url
            = link_to application_type.license, application_type.license_url
          - else
            %span= application_type.license

      - if application_type.website
        %li.website
          %label Website:
          = link_to application_type.website, application_type.website

      - if application_type.version
        %li.version
          %label Version:
          %span= application_type.version

  - if application_type.description.respond_to? :to_html
    = application_type.description.to_html.html_safe
  - else
    %p= application_type.description

  - if application_type.learn_more_url
    = link_to "Learn more", application_type.learn_more_url

  - if defined? extra_info and application_type.provides
    %div
      %h4 What you get:
      %ul
        - application_type.provides.each do |provided|
          %li= provided

  - if defined? extra_info and application_type.template
    = render :partial => application_type.template

  - unless defined? hide_link
    = link_to "Select »", application_type_path(application_type), :class => 'btn'
