-#:css
  .application_type {background-color: #F5F5F5; padding: 9px 35px 10px 21px; margin-bottom: 20px; cursor: pointer;}
  .application_type:hover {background-color: #e0e0e0;}
  .application_type:active {background-color: #CC0000; color: white}
  /*.application_type > ul.meta > li {display: inline;}*/
  .application_type > ul.meta > li > label {display: inline;}

%h1.invisible Create a New Application
= app_wizard_steps_create 0
-#%p Get started by choosing what kind of application you want to create.  Use the search box to filter the list of types or click on a category in the drop down to narrow down your choice.
%p
  Choose a web programming framework or template for your application. After you create the application you can add
  %strong cartridges
  to enable additional capabilities like databases, metrics, and continuous build support with Jenkins.

%h3.divide Templates
%p
  These templates contain a framework, any other required cartridges (such as a database), as well as all of the code needed to get you up and running quickly!
.row
  - @template_types.each_slice((@template_types.length/2.0).ceil).each do |types|
    .span6
      = render :collection => types, :partial => 'application_types/application_type', :locals => {:classes => 'tile tile-click'}

%h5 Didn't Find What You Were Looking for?
%p
  If you would like to try something else, more quickstarts are available
  = link_to 'here', get_started_quickstart_url, :target => '_blank'
  \. We will be migrating the most popular quickstarts to templates shortly.
  %br
  If there is another application you would like to see as a quickstart, please request one!
%h3.divide Frameworks
.row
  - @framework_types.each_slice((@framework_types.length/2.0).ceil).each do |types|
    .span6
      = render :collection => types, :partial => 'application_types/application_type', :locals => {:classes => 'tile tile-click'}

-# unless @popular_types.empty?
  .row
    .span7
      %h2 Popular Types
      %p These applications have been selected by the OpenShift team to get you started in a hurry. These are good choices when you want to learn more about how OpenShift works.
      = render @popular_types
    .span5
      = yield :frameworks
-# else
  = yield :frameworks

- content_for :javascripts do
  :javascript
    jQuery('.application_type').click(function() {
      a = $('a.btn', this)[0];
      window.location = a.href
    });
