:css
  .application_type {background-color: #F5F5F5; padding: 9px 35px 10px 21px; margin-bottom: 20px;}
  .application_type > ul.meta > li {display: inline;}
  .application_type > ul.meta > li > label {display: inline;}

%h1.invisible Configure New Application
= app_wizard_steps_create 1

= render :partial => @application_type, :locals => {:hide_link => true, :extra_info => true}

= semantic_form_for @application, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :application_type, :value => @application_type.id

  = f.semantic_errors :name, :domain_name

  = f.inputs do
    -# This is implemented custom here rather than integrating into Formtastic because of its specific nature
    .control-group.control-group-important
      %label.control-label Public URL
      .controls
        .input-prepend-append
          %span.add-on-first http://

          = f.text_field :name, :value => "#{@application.name}", :autofocus => true, :placeholder => 'Application name', :class => @application.errors[:name].present? ? 'error' : '', :class => 'application_name'

          -# If the user has a domain, use it, otherwise prompt them for that field
          - if @domain and @domain.persisted?

            %span.add-on-last> -#{@domain.name}.#{Rails.configuration.base_domain}

          - else

            %span.add-on-middle> &ndash;
            = f.text_field :domain_name, :value => "#{@application.domain_name}", :placeholder => 'Namespace', :class => @application.errors[:domain_name].present? ? 'error' : '', :class => 'domain_name'
            %span.add-on-last>= ".#{Rails.configuration.base_domain}"
        .row
          #app-errors.span4.offset1
            %ul.alert.alert-error.unstyled.errors

        .row
          - if @domain
            .help-block.span6
              Your application name uniquely identifies the application and becomes part of your public 
              URL. You can add your own domain names to the application later.
          - else
            .help-block-multiple.span6
              %strong Application name
              %p
                Your application name uniquely identifies the application and becomes part of your public 
                URL. You can add your own domain names to the application later.
              %strong Namespace
              %p
                Because this is your first application, you need to set a name under which your applications will be grouped.

  = f.buttons do
    = link_to "Back", application_types_path, :class => 'btn'
    = f.commit_button
    = f.loading
