%h2 Domains
%p
  See the #{link_to 'User Guide', add_domains_user_guide_topic_url, :class => 'external'}
  for information about adding your own domain names to an application.

%table.table
  - @domains.first(3).each do |d|
    %tr
      %td= link_to d.name, domain_path(d)
      %td= pluralize(d.application_count, 'application')
      %td
        - if d.members.count > 1
          = pluralize(d.members.count - 1, 'other member')

- if @domains.length > 3
  %p= link_to "See other domains", domains_path
- elsif @domains.length == 1
  - if @capabilities.max_domains > 1
    %p= link_to "Create another domain", new_domain_path

-#.btn-toolbar
  = link_to "Change your namespace...", edit_domain_path(@domain), :class => 'btn btn-small'
