%h2 Public Keys
%p
  OpenShift uses a public key to securely encrypt the connection between
  your local machine and your application and to authorize you to upload
  code.

  = link_to "Learn more about SSH keys.", ssh_keys_help_path

%table.table.table-condensed.table-striped.table-fixed
  %thead
    %tr
      %th{:scope => 'col'} Key name
      %th{:scope => 'col'} Contents
      %td
  - keys.each do |key|
    %tr{:id => "#{key.name}_sshkey"}
      %td.sshkey-name{:scope => 'row'}= key.name
      %td.code.sshkey= key.display_content
      %td= link_to 'Delete', key_path(key), :class => 'btn btn-mini btn-danger delete_button', :method => :delete, :confirm => "Are you sure you want to delete your key '#{key.name}'?"
.btn-toolbar
  = link_to "Add a new key...", new_key_path, :class => 'btn btn-small'
