- content_for :page_title, 'Settings'

%h1 Settings
= flashes
.row
  - unless @domains.present?
    .span12
      = render :partial => 'add_domain', :locals => {:domain => @domain}

  - unless @keys.present?
    .span12
      = render :partial => 'add_key', :locals => {:keys => @keys}

  - if @keys.present?
    .span12
      %section
        = render :partial => 'keys', :locals => {:keys => @keys}

  .span12

    - if @domains.present?
      %section
        = render :partial => 'domains', :locals => {:domains => @domains, :capabilities => @capabilities}

    %section
      = render :partial => 'authorizations', :locals => {:authorizations => @authorizations}

