- content_for :page_title, 'Settings'

%h1 Settings
= flashes
.row
  - unless @domains.present?
    .span12
      %section.row-content
        = render :partial => 'add_domain'

  - unless @keys.present?
    .span12
      %section.row-content
        = render :partial => 'add_key', :locals => {:keys => @keys}

  - if @keys.present?
    .span12
      %section.row-content
        = render :partial => 'keys', :locals => {:keys => @keys}

  .span12

    - if @domains.present?
      %section.row-content
        = render :partial => 'domains', :locals => {:domains => @domains, :capabilities => @capabilities}

    - if @teams.present? || @capabilities.max_teams > 0
      %section.row-content
        = render :partial => 'teams', :locals => {:teams => @teams, :capabilities => @capabilities}

    %section.row-content
      = render :partial => 'authorizations', :locals => {:authorizations => @authorizations}

