.row.application.hero-unit
  .span8
    .row
      .span3
        .row
          .span2
            %h2
              = application.name
          .span1.app_type
            = application.framework_name
      .span1
        Status:
        %img{:src => '/app/images/icons/success.png'}
      .span4
        Gears:
    .row
      .span8
        .row
          .span7.app_url
            = link_to application.web_url, application.web_url
          .span1.web_icon
            &nbsp;
    .row
      .span8
        .row
          .span7.git_url
            = application.git_url
          .span1.git_icon
            &nbsp;

    .row
      .span8
        .row
          .span3
            Created
            = "#{time_ago_in_words(application.creation_time)} ago"
          .span2.offset3
            = link_to("Delete", delete_application_path(application), :class => ['btn', 'btn-danger'])
            = link_to("Details >", application_path(application), :class => ['btn', 'btn-info'])
