-# file: Applications confirm delete

%h1= "Are you sure you want to delete the application '#{@application.name}'?"

- semantic_form_for @application, :html => { :method => :delete } do |f|
  %p This will delete all the code and data associated with the app, and cannot be undone. Make sure this is something you really want to do!
  = f.semantic_errors
  -#= f.inputs do
    -#= f.input :cartridge, :as => :hidden, :value => @application.framework
  = f.buttons do
    = f.commit_button :label => "Delete"
    = link_to 'Cancel', application_path(@application), :class => 'btn'
