- lots_of_applications = @applications.length > 10
- application_partial = lots_of_applications ? 'applications/application_compact' : 'applications/application_overview'

= breadcrumbs_for_each [link_to ('My Applications', :applications, :action => :index)]

- content_for :full_layout, true
- content_for :dark_layout, true
- content_for :after do
  .row-console-help
    .row.row-flush-right
      %ul.column-console-help.unstyled.grid-wrapper
        %li.span4
          %h4 Updates
          = link_to 'Latest Releases', openshift_blog_url, :target => '_blank'
          %p Check out what new features are available
        %li.span4
          %h4 Need Help?
          = link_to 'Check out the forums', forums_url, :target => '_blank'
          %p Post a question, Get the answers
        %li.span4
          %h4 Found a Bug?
          = link_to 'Report a Bug', open_bug_url, :target => '_blank'
          %p The OpenShift bug tracker is now public

%section#console-mast
  .row
    %ul.unstyled-flat
      %li.span5
        %h1 All Applications
      -#
        %li.span5
          %img{:src => 'http://placehold.it/60&text=img'}
          %img{:src => 'http://placehold.it/60&text=img'}
          %img{:src => 'http://placehold.it/60&text=img'}
          %img{:src => 'http://placehold.it/60&text=img'}
        %li.span2
          .account-total $0.00
      %li.span7.right
        = link_to 'Create a New Application', application_types_path, :class => ['btn', 'btn-large'], :style => 'margin-right:10px'

%div
  %section#app-list.span8
    %header
      %h3.invisible 
        Application list
    - @applications.each do |application|
      .app-block
        .row
          %ul.unstyled-flat
            -#
              %li.span1.wordpress
                %img{:src => 'http://placehold.it/60&text=img', :alt => 'wordpress logo'}
            %li.span6
              %h2= application.name
              = link_to application.web_url, application.web_url
            - # hardcode this for now until we can deal with edge cases better
            - if application.framework != 'jenkins-1.4'
              %li.span2
                %a.pull-right.btn{:href => "#{application_path(application)}"} Details

  %section#account-digest.span4
    #assistance
      %h5 OpenShift Help
      %ul.unstyled
        - console_help_links.each do |l|
          %li= link_to l[:name], l[:href]
        %li= link_to 'More help »', console_help_path

      %h5 Popular FAQs
      %ul.unstyled
        - console_faq_links.each do |l|
          %li= link_to l[:name], l[:href]
        %li= link_to 'More FAQs »', faq_url
  -#
    %header.invisible Billing, usage and charts
    %table.table.table-striped.table-condensed
      %thead.invisible
        %tr
          %th column heading                
          %th column heading                
          %th column heading                
          %th column heading                
          %th column heading       
      %tbody
        %tr
          %td 1
          %td App name
          %td 4/10
          %td 40%
          %td $0.00
        %tr
          %td 2
          %td App name
          %td 4/10
          %td 40%
          %td $0.00
        %tr
          %td 3
          %td App name
          %td 4/10
          %td 40%
          %td $0.00
    %ul.thumbnails
      %li.span5
        %a.thumbnail{:href => '#'}
          %figure
            %img{:src => 'http://placehold.it/470x168&text=Chart+A'}
            
= render :partial => 'applications/section_help'
