.content
  .row
    .span12
      .hero-unit
        .row
          .span11
            %p.pull-left
              NAME
            %a.btn.btn-primary.pull-right{:href => @application.web_url} Access application »
        .row
          .span11
            %h1
              = @application.name
  .row
    .span8
      .row
        .span8
          %h2
            CARTRIDGES
            %ul.unstyled
              %li
                .row.span8
                  = render :partial => 'applications/application_cartridge', :locals => {:application => @application}
    .span4
      %aside.postit
        .tape &nbsp;
        %h4 Client tools
        %ul
          %li= link_to "OpenShift Express User Guide", "https://www.redhat.com/openshift/community/sites/default/files/documents/OpenShift_Express-User_Guide-en-US.pdf" 
          %li= link_to "Sync your OpenShift repo with an existing Git repo", "https://www.redhat.com/openshift/community/sites/default/files/documents/OpenShift_Express-User_Guide-en-US.pdf"
        - if @application_type.help_topics and not @application_type.help_topics.empty?
          %h4= @application.framework_name
          %ul
            - @application_type.help_topics.each do |key, value|
              %li= link_to key, value
        %h4 MySQL
        %ul
          %li= link_to "Check the MySQL 5.1 Documentation", "#" 
          %li= link_to "Solve connectivity issues", "#" 
  .row
    .span8
      = link_to("Delete Application", delete_application_path(@application.name), :class => ['btn', 'btn-danger', 'btn-large'])
      = link_to("Back to Application List...", applications_path, :class => ['btn', 'btn-large', 'btn-primary'])
