%section.main
  .content

    %h1 
      = @application.name
    %dl.app_info
      %dt
        Public url
      %dd.app_url
        = link_to @application.web_url, @application.web_url
    
      %dt
        Repository
      %dd.app_git
        = @application.git_url
    
      %dt
        Type
      %dd.app_type
        = @application.framework.split('-')[0]

%div
  = link_to "back to applications list...", applications_path
  = link_to("delete...", application_delete_path(:application_id => @application.name))
