- content_for :full_layout, true
- content_for :dark_layout, true

- breadcrumb_for_application @application

- content_for :top do
  .grid-wrapper.section-header
    %nav.span12.span-flush-right.application-info
      .pull-right= link_to 'Delete', delete_application_path(@application), :class => 'btn btn-small'
      %h1.name= @application.name
      .url
        %strong @
        = link_to @application.web_url, @application.web_url

-#
  .emblem.span
    %img{:src => '/app/images/console/gear-bars.png'}
    .span
      -# placeholder for gear info
  .emblem.span
    %img{:src => '/app/images/console/bolt.png'}
    .span
      -# placeholder for bolt info
  .emblem.span
    %img{:src => '/app/images/console/mark.png'}
    .span
      -# placeholder for mark info
  .emblem.span
    %img{:src => '/app/images/console/warning.png'}
    .span
      -# placeholder for warning info
  .total-cost
    -# cost placeholder

%section#app-specifics
%section#app-cartridges.span9
  %header
    %h3.pull-left Cartridges
    .pull-right
      = link_to application_cartridge_types_path(@application), :class => 'add-cart-btn' do
        Add Cartridge
        %span.sprite

  -#.cartridge-block
    .row
      .span4
        %h2.indent-left= @application.framework_name
      .span5
        %ul.unstyled-flat.bits.indent-right
          %li
            %h6 Created
            %span.data
              #{time_ago_in_words(@application.creation_time)} ago
          -#
            %li
              %h6 Status
              %span.data
                normal
          -#%li
            %h6 Type
            %span.data= @application.framework_name
          -#
            %li
              %img{:src => "/app/images/console/gear-sm.png"}
    .row
      .span9
        .indent-left.indent-right
          %h6 Git Repository
          %pre.command-line.git_url
            = @application.git_url

  - @gear_groups.each_with_index do |group,g|
    .gear-group
      - group.cartridges.each_with_index do |cartridge,c|
        .cartridge-block
          .row
            .span4
              %h2.indent-left= cartridge.display_name
            .span5
              %ul.unstyled-flat.bits.indent-right
                - if c == 0
                  %li
                    %h6 Status
                    %span.data= gear_group_state(group.states)
                  %li
                    %h6 Gears
                    %span.data= "#{group.gears.length} #{group.gear_profile.to_s.humanize.downcase}"
                - else
                  %li
                    %h6 Gears
                    %span.data{:title => 'This cartridge shares resources with the other cartridges it is grouped with.'} Shared

                -#%li
                  %h6 Type
                  %span.data= cartridge.type
                -#
                  %li
                    %img{:src => "/app/images/console/gear-sm.png"}
          - if cartridge.git_url
            .indent-left.indent-right
              %h6 Git Repository
              %input#application_git_url.git-url{:readonly => 'readonly', :value => cartridge.git_url, :title => 'The code for your application will be available through this Git repository.'}
              - content_for :javascripts do
                :javascript
                  $('#application_git_url').focus(function() {this.select()}).click(function() {this.select()});

          - if cartridge.scales? || cartridge.builds?
            .embedded
              .indent-left
                - if cartridge.builds?
                  .embedded-cart
                    = link_to 'Builds with Jenkins', @application.build_job_url
                -# elsif cartridge.buildable?
                  .embedded-cart
                    = link_to "Enable builds", link_to_wizard_for_builds

                - if cartridge.scales?
                  .embedded-cart
                    Scales with HAProxy

  .base.right.btn-toolbar
    = link_to application_cartridge_types_path(@application), :class => 'btn btn-primary btn-large' do
      Add
      %strong Cartridge
      %i.icon-add

%aside#secondary.span3
  %section#app-unique-info
    -#%h5 Visibility
    -#%ul.unstyled
      %li External
    %h5 Aliases
    %ul.unstyled
      - if @application.aliases.empty?
        %li No alias set
      - else
        - alias_scheme = @application.web_url.split(':').first
        - @application.aliases.each do |a|
          %li= link_to a, "#{alias_scheme}://#{a}"


  #assistance
    %h5 New to OpenShift?
    %ul.unstyled
      %li= link_to 'See the getting started tips for this app →', get_started_application_path(@application)

    %h5 Need Help?
    %ul.unstyled
      %li= link_to 'OpenShift User Guide', user_guide_url
      %li= link_to 'Sync your OpenShift repo with an existing Git repo', sync_git_with_remote_repo_knowledge_base_url 

  -# %h5 Need Help? #restore later
    %ul.unstyled
      %li
      - if @application_type.help_topics and not @application_type.help_topics.empty?
        %h5= @application.framework_name + ' Help'
        %ul.unstyled
        - @application_type.help_topics.each do |key, value|
          %li= link_to key, value

