%section#app-mast
  .row
    .span9
      %ul.unstyled-flat
        %li.app-title
          %h6 Name
          %h1= @application.name
        %li.app-status
          %h6 Status
          %span Attention
    .span3.app-settings
      %img{:src => 'http://placehold.it/60&text=img'}
      %a{:href => '#'} Settings
      %a{:href => delete_application_path(@application.name)} Delete

.row
  %section#app-cartridges.span8
    %header
      %h3.pull-left Cartridges
      .btn-group.pull-right
        %a.btn{:href => '#'} Add
        %a.btn{:href => '#'} Remove
    .cartridge-block
      .row
        %ul.unstyled-flat.cartridge-block-overview.offset1
          %li.span4.offset1
            %h6 Cartridge Name
            %h2= @application.framework_name
          %li.span3= "Created #{time_ago_in_words(@application.creation_time)} ago"
        %ul.unstyled-flat.embedded-cartridge-block.span7.offset1
          %li.span6
            %h6 Git Repository
          %li.span6
            %pre.command-line.git_url
              = @application.git_url
    - @application.cartridges.each do |cartridge|
      .cartridge-block
        .row
          %ul.unstyled-flat.cartridge-block-overview.offset1
            %li.span4.offset1
              %h6 Cartridge Name
              %h2= cartridge.name
            %li.span3 Status / Gear Image
  %aside#secondary.span4
    #app-unique-info
      %h5 Visibility
      %ul.unstyled
        %li External
      %h5 URL
      %ul.unstyled
        %li= link_to @application.web_url, @application.web_url
      %h5 Aliases
      %ul.unstyled
        - if @application.aliases.empty?
          %li No alias set
        - else
          - @application.aliases.each do |a|
            %li= link_to a, a
    #assistance
      %h5 Client Tools Help
      %ul.unstyled
        %li 
          %a{:href => 'https://www.redhat.com/openshift/community/sites/default/files/documents/OpenShift_Express-User_Guide-en-US.pdf'} OpenShift Express User Guide
        %li 
          %a{:href => '#'} Sync your OpenShift repo with an existing Git repo
        - if @application_type.help_topics and not @application_type.help_topics.empty?
          %h5= @application.framework_name + ' Help'
          %ul.unstyled
          - @application_type.help_topics.each do |key, value|
            %li= link_to key, value
#help
  .row
    %ul.unstyled-flat.span12
      %li.span4
        %h4 Updates
        %a{:href => '#'} Latest Releases
        %p Check out what new features are available
      %li.span4
        %h4 Need Help?
        %a{:href => '#'} Check out the forum
        %p Post a question, Get the answers
      %li.span4
        %h4 Found a Bug?
        %a{:href => '#'} Report a Bug
        %p The OpenShift bug tracker is now public
      