%nav
  %ul.breadcrumb
    %li
      = link_to 'My applications', :applications, :action => :index
      %span.divider /
    %li.active= @application.name

%section#app-mast
  .row
    .span9
      %ul.unstyled-flat
        %li.app-title
          %h6 Application Name
          %h1= @application.name
        %li.app-status
          -# %h6 Status
          -# %span Attention
    .span3.app-settings.right
      -# %img{:src => 'http://placehold.it/60&text=img'}
      -# %a{:href => '#'} Settings
      %a.btn{:href => delete_application_path(@application.name), :style => 'margin-right:10px'} Delete

.row
  %section#app-cartridges.span8
    %header
      %h3.pull-left Cartridges
      .btn-group.pull-right
        = link_to('Add +', application_cartridge_types_path(@application.name),
                           :class => ['btn', 'pull-right'])
        -# %a.btn{:href => '#'} Remove
    .cartridge-block
      .row
        %ul.unstyled-flat.cartridge-block-overview.offset1
          %li.span4
            %h6 Cartridge Name
            %h2= @application.framework_name
          %li.span3= "Created #{time_ago_in_words(@application.creation_time)} ago"
        %ul.unstyled-flat.embedded-cartridge-block.span7.offset1
          %li.span6
            %h6 Git Repository
          %li.span6
            %pre.command-line.git_url
              = @application.git_url
    - @application.cartridges.each do |cartridge|
      .cartridge-block
        .row
          %ul.unstyled-flat.cartridge-block-overview.offset1
            %li.span4
              %h6 Cartridge Name
              %h2= cartridge.name
            %li.span3 
              -# Status / Gear Image
  %aside#secondary.span4
    #app-unique-info
      %h5 Visibility
      %ul.unstyled
        %li External
      %h5 URL
      %ul.unstyled
        %li= link_to @application.web_url, @application.web_url
      %h5 Aliases
      %ul.unstyled
        - if @application.aliases.empty?
          %li No alias set
        - else
          - @application.aliases.each do |a|
            %li= link_to a, a
    #assistance
      %h5 Client Tools Help
      %ul.unstyled
        %li 
          %a{:href => 'https://www.redhat.com/openshift/community/sites/default/files/documents/OpenShift_Express-User_Guide-en-US.pdf'} OpenShift Express User Guide
        %li 
          %a{:href => sync_git_with_remote_repo_knowledge_base_url} Sync your OpenShift repo with an existing Git repo
        - if @application_type.help_topics and not @application_type.help_topics.empty?
          %h5= @application.framework_name + ' Help'
          %ul.unstyled
          - @application_type.help_topics.each do |key, value|
            %li= link_to key, value

= render :partial => 'applications/section_help'
