%h1= 'Delete Alias'
=flashes

- url = application_alias_path(@alias, :application_id => @application.id)
= semantic_form_for @application, :url => url, :html => {:method => :delete, :class => 'form'} do |f|

  %p If you delete the alias <code>#{@alias}</code>, your app will not be accessible from this URL. Deleting this alias will also delete the certificate.

  %p Are you sure you wish to delete the alias?

  = f.semantic_errors
  = f.buttons do
    = link_to 'Cancel', @referer || application_path(@application), :class => 'btn'
    = f.commit_button :label => "Delete Alias", :button_html => {:class => 'btn btn-danger'}
    = f.loading
