- content_for :page_title, 'New Alias'

%h1 New Alias for #{link_to @application.name, application_path(@application)}
=flashes

%section
  = semantic_form_for @alias, :url => application_aliases_path(@application), :html => {:method => :post, :class => 'form-horizontal', :multipart => true} do |f|

    %p
      Aliases allow you to use your own domain names for your apps on OpenShift. To set up your own domain name for app 
      %strong= @application.name
    %ol
      %li= link_to 'Set up the CNAME record with your DNS provider', alias_docs_url, :target => '_blank', :class => 'external'
      %li Configure OpenShift to use your alias:
    - e = @alias.errors
    = f.semantic_errors :except => [:id, :name, :certificate_file, :certificate_private_key_file]

    = f.inputs do
      .control-group
        %label.control-label Application URL
        .controls
          %h3= "#{URI::parse(@application.web_url).host}"
          %p.help-block The current application URL. Set up a CNAME record with your DNS provider pointing to this URL.
      = f.input :id, :label => 'Domain name', :required => true, :input_html => {:placeholder => 'www.example.com'}, :hint => 'Enter your custom domain name. e.g. <em>www.example.com</em> or <em>something.example.com</em>'.html_safe

      .platform

        %h2 SSL Certificate

        - if !@private_ssl_certificates_supported
          = render :partial => 'certificate_not_allowed', :locals => { :is_owner => @application.owner? }
        - else 
          %p
            Optionally upload an SSL certificate for your custom domain alias to allow secure HTTPS communication with your app.

        = control_group(e.has_key?(:certificate_file)) do
          %label.control-label{:for => 'certificate_file'} 
            SSL Certificate
            - if @private_ssl_certificates_supported 
              %abbr{:title => 'required'}>*
          .controls
            = f.file_field :certificate_file, :id => 'certificate_file', :disabled => !@private_ssl_certificates_supported 
            = f.inline_errors_for :certificate_file
          .controls
            %p.help-block Certificate files must be Base64 PEM-encoded and typically have a .crt or .pem extension. You must combine primary and intermediate certificates into a single file.  If your SSL certificate does not include a concatenated full chain file (ex: fullchain.pem) then you must manually concatenate the certificate files and upload as a single file.  The RSA or DSA private key must be uploaded as a separate file in the 'Certificate Private Key*' field below.

            %li= link_to "More on how to concatenate and upload SSL Certs", community_developer_portal_url(path='en/managing-domains-ssl.html#using-a-custom-ssl-certificate'), :target => '_blank', :class => 'external'

        = control_group(e.has_key?(:certificate_private_key_file)) do
          %label.control-label{:for => 'certificate_private_key_file'} 
            Certificate Private Key
            - if @private_ssl_certificates_supported 
              %abbr{:title => 'required'}>*
          .controls
            = f.file_field :certificate_private_key_file, :id => 'certificate_private_key_file', :disabled => !@private_ssl_certificates_supported 
            = f.inline_errors_for :certificate_private_key_file
          .controls
            %p.help-block RSA or DSA private key file for the root certificate in PEM-encoded format.

        .string.optional.control-group
          %label.control-label{:for => 'certificate_pass_phrase'} 
            Private Key Pass Phrase
          .controls
            = f.password_field :certificate_pass_phrase, :id => 'certificate_pass_phrase', :disabled => !@private_ssl_certificates_supported
            %p.help-block Pass phrase for the certificate private key, required if the provided private key is encrypted.

    = f.buttons do
      = link_to "Cancel", application_path(@application), :class => 'btn'
      = f.commit_button :label => 'Save'
      = f.loading

  - content_for :javascripts do
    :javascript
      $('.delete-certificate').popover({
        content: function() { return $(this).next('.popover-delete-certificate').html(); }
      }).click(function() { return false; });

      $(document).on('click', '.cancel-delete-certificate', function() { 
        $(this).closest('.popover').prev('.delete-certificate').popover('hide');
        return false; 
      });

