- content_for :title, "Edit Authorization"
- breadcrumb_for_account 'Edit Authorization'
%h1 Authorization Token
= flashes

= semantic_form_for @authorization, :html => {:class => 'form'} do |f|
  = f.semantic_errors :except => :note
  = f.inputs do

    %section
      %pre.larger{:style => 'word-break: break-all;'}= @authorization.token

      %p The token will allow clients to perform these operations on your behalf:
      %table.table
        %thead
          %tr
            %th{:scope => 'col'} Scope
            %th{:scope => 'col'} Description
        %tbody
          - @authorization.scopes.each do |s|
            - if scope = @scope_definitions.find{ |scope| scope[:match] ? s.match(scope[:match]) : scope[:id].to_s == s.to_s }
              %tr
                %td{:scope => 'row'}= scope[:id]
                %td= scope[:description]

      = f.input :note, :as => :text, :label => 'Change the description of this authorization token', :input_html => {:class => 'span6', :rows => 2}

  = f.buttons do
    = link_to "Cancel", account_path, :class => 'btn'
    = f.commit_button :label => 'Save', :button_html => {:title => 'Update this authorization token'}
    = f.loading
