.navbar
  .navbar-inner
    .container

      .brand
        = link_to root_path do
          %img.brand-image{:src => image_path('/app/images/logo-24-inside.png')}
          .brand-text 
            %strong> Open
            Shift

      %span.navbar-text.headline 
        Management Console
        %span.label.label-important{:style => 'vertical-align:top'} Preview

      -#= link_to root_path, :class => 'brand' do
        Open
        %strong> Shift
        %span.trademark> &trade;
        &nbsp;
        Management Console

      .nav-collapse
        = navigation_tabs do
          = navigation_tab :applications, :action => :index, :name => "My Applications"
          = navigation_tab :application_types, :name => "Create a New Application"
          = navigation_tab :console, :action => :help, :name => "Help"
          -#= navigation_tab :help, :show
          -#= navigation_tab :user, :action => :show

      %ul.navbar-text.pull-right#utility-nav
        %li= link_to "Community", community_url
        %li= link_to "My Account", account_path
        %li= link_to "Sign Out", logout_path

