- input_html = defined?(input_class) ? { :class => input_class } : {}

= semantic_form_for key, :html => {:class => 'form-horizontal'} do |f|
  = f.semantic_errors
  = f.inputs do
    = f.input :name, :label => 'Key name', :input_html => {:placeholder => 'A name for your key'}
    = f.input :raw_content, 
              :as => :text, 
              :label => 'Paste the contents of your public key file', 
              :input_html => input_html.merge({:placeholder => 'The contents of your public key file', :title => "Your SSH key will start with a short prefix that describes its type, followed by a long string of numbers and characters.  Some keys have a bit of text at the end to describe who generated the key. Example:\n\nssh-rsa AAAAB3NzaC1yc....HcLJ bob@smith"})
  = f.buttons do
    = link_to "Cancel", account_path, :class => 'btn'
    = f.commit_button :label => 'Create'
    = f.loading
