- input_html = { :class => input_class } if defined? input_class

= semantic_form_for key, :simple => true, :html => {:class => 'form-inline'} do |f|
  = f.semantic_errors
  = f.inputs do
    = f.hidden_field :name, :value => 'default'
    = f.hidden_field :first, :name => 'first', :value => true
    = f.input :raw_content,
              :as => :text,
              :label => 'Paste the contents of your public key file (.pub)',
              :input_html => input_html.merge({:placeholder => 'The contents of your public key file', :title => "Your SSH key will start with a short prefix that describes its type, followed by a long string of numbers and characters.  Some keys have a bit of text at the end to describe who generated the key. Example:\n\nssh-rsa AAAAB3NzaC1yc....HcLJ bob@smith"})
  = f.buttons do
    = f.commit_button :label => 'Save', :button_html => { :class => 'btn btn-primary' }
    = f.loading
