%td
  .label.label-important
    = "!"
%td.suggestion-body
  .lead
    Setup a node
  - case size
  - when :short  # just the basic facts about the suggestion
    %div
      Please add
      = pluralize(suggestion.node_quantity, "node")
      - if suggestion.district_name
        & to the "#{suggestion.district_name}" district
      & in the "#{suggestion.profile}" profile.

  - when :full  # the full monty
    %div
      Please add #{ pluralize suggestion.node_quantity, "node" }
      - if suggestion.district_name
        & to the "#{suggestion.district_name}" district
      & in the "#{suggestion.profile}" profile.
    %div
      This profile has only #{ pluralize suggestion.available_gears, "active gear" } available,
      which is below the threshold of #{ pluralize suggestion.threshold, "active gear" } required. 
    - if suggestion.district_name
      %div
        After creating #{ pluralize suggestion.node_quantity, "node" }
        & with profile "#{suggestion.profile}",
        & please add them to the "#{suggestion.district_name}" district with this command:
        %pre
          & $ oo-admin-ctl-district -c add-node -n '#{suggestion.district_name}' -i <node hostname>
