%td
  .label.label-info
    = "?"
%td.suggestion-body
  - case size
  - when :short  # just the basic facts about the suggestion
    %p.lead
      Generic suggestion
      &= suggestion.class
    %div
      There was a suggestion of type
      &= suggestion.class
      which doesn't have a display method. Please add a view for this type of suggestion.

  - when :full  # the full monty
    %p.lead
      Generic suggestion
      &= suggestion.class  
    %p
      There was a suggestion of type
      &= suggestion.class
      which doesn't have a display method. Please add a view for this type of suggestion.
    %p
      The suggestion contains the following values:
      - require 'pp'
      %pre
        = suggestion.pretty_inspect
