- content_for :javascripts do
  :javascript
    $(function() {
      $(".suggestion.short").each(function(idx, suggestion){
        if (suggestion.id != expanded + "_short")
          suggestion.style.display = "";
      }).click(expand_suggestion);

      var expanded = "#{@expanded}";
      var expanded_node = document.getElementById(expanded + "_full");
      if (expanded_node) {
        expanded_node.style.display = "";
        expanded_node.scrollIntoView( true );
      }


      $(".suggestion.full").click(collapse_suggestion);

      function expand_suggestion(e) {
        toggle_suggestion(true, e.currentTarget.getAttribute("suggestion_id"));
      }

      function collapse_suggestion(e) {
        toggle_suggestion(false, e.currentTarget.getAttribute("suggestion_id"));
      }

      function toggle_suggestion(expand, suggestion_id) {
        document.getElementById(suggestion_id + "_full").style.display = expand ? "" : "none";
        document.getElementById(suggestion_id + "_short").style.display = expand ? "none" : "";
      }
    });

.suggestions
  %h1
    Suggestions
  - if @suggestions.empty?
    %em
      Perhaps a nice cup of coffee?
  - else
    %table.suggestions-full-page{:style => "vertical-align: top;"}
      %colgroup
        %col
        %col{:style => "width: 100%"}
        %col
      %tbody
        - @suggestions.each do |suggestion|
          - partial = suggestion_partial_for suggestion
          - url = suggestions_path id: suggestion.id 
          -# TODO use javascript to toggle between short or full display
          -# TODO also, scroll to and make full-size the page suggestion id
          %tr.short.suggestion.clickable{style: 'display: none;', suggestion_url: url, :id => "#{suggestion.id}_short", :suggestion_id => suggestion.id, :title => "Click to expand" }
            = render partial: partial, locals: {suggestion: suggestion, size: :short}
            %td
              %a{:href => "javascript:;"}
                %i.icon-chevron-down
          %tr.full.suggestion.clickable{style: 'display: none;', suggestion_url: url, :id => "#{suggestion.id}_full", :suggestion_id => suggestion.id, :title => "Click to collapse"}
            = render partial: partial, locals: {suggestion: suggestion, size: :full}
            %td
              %a{:href => "javascript:;"}
                %i.icon-chevron-up
          %noscript
            %tr.full.suggestion{ suggestion_url: url, :id => suggestion.id}
              = render partial: partial, locals: {suggestion: suggestion, size: :full}
