.tile.tile-click.application{ :class => application.owner? ? 'application-owned' : nil }
  %h2.flow
    - if application.aliases.present?
      = link_to application_path(application), :class => 'tile-target flow-block name' do
        = application.name
        = '-'
        %span.alias= application.aliases.first.name
    - else
      = link_to application.name, application_path(application), :class => 'tile-target'

    %span.flow-block.right
      = link_to application.web_url, :target => '_blank', :class => 'url', :title => "Go to the application's web page" do
        %span.url-icon{'aria-hidden'=>"true", 'data-icon' => "\ue002"} 

      %span.gear{:title => application_gear_count(application)}
        = application.gear_count
        %span.gear-icon{'aria-hidden'=>"true", 'data-icon' => "\ue014"}
        - if (scales = application.cartridges.select(&:scales?)) and scales.present?
          .gauge-vertical>
            - if scales.any?(&:has_scale_range?)
              - if scales.none?(&:can_scale_up?)
                %span.gauge-tick.fill>  .
                %span.gauge-tick.fill>  .
                %span.gauge-tick.fill>  .
              - elsif scales.none?(&:can_scale_down?)
                %span.gauge-tick.empty> .
                %span.gauge-tick.empty> .
                %span.gauge-tick.fill>  .
              - else
                %span.gauge-tick.empty> .
                %span.gauge-tick.fill>  .
                %span.gauge-tick.fill>  .
            - else
              %span.gauge-tick.fill> .
              %span.gauge-tick.fill> .
              %span.gauge-tick.fill> .

  .cartridges= application.cartridges.map(&:display_name).join(', ')
