= semantic_form_for applications_filter, :url => applications_path, :simple => true, :method => :get do |f|
  = f.inputs do
    = f.input :name
    = f.input :type, :collection => applications_filter.type_options, :include_blank => false
  = f.buttons do
    = f.commit_button :label => 'Filter'
    - if applications_filter.present?
      = link_to "Clear Filters", applications_path, :class => 'btn'
