.input-prepend.input-append
  %span.add-on http://

  = form.text_field :name, 
    :value => "#{application.name}", 
    :autofocus => true, 
    :size => nil, 
    :placeholder => 'Application name', 
    :class => "application_name span3 #{'error' if application.errors.include? :name}"

  -# If the user has a domain, use it, otherwise prompt them for that field
  - if @domain and @domain.persisted?

    %span.add-on> -#{@domain.name}.#{RestApi.application_domain_suffix}

  - else

    %span.add-on.middle> &ndash;
    = form.text_field :domain_name, 
      :value => "#{application.domain_name}", 
      :placeholder => 'Namespace', 
      :size => nil, 
      :class => "domain_name span3 #{'error' if application.errors.include? :domain_name}"
    %span.add-on>= ".#{RestApi.application_domain_suffix}"

- unless @domain and @domain.persisted?
  %p.help-block
    %span.text-warning Because this is your first application, you need to provide a domain name under which your applications will be grouped
