.input-prepend.input-append
  %span.add-on http://

  %label.invisible{:for => 'application_name'} Application name
  = form.text_field :name, 
    :value => "#{application.name}", 
    :autofocus => (params[:focus].blank?),
    :size => nil, 
    :placeholder => 'Application name', 
    :class => "application_name span3 #{'error' if application.errors.include? :name}"

  - if domains.length == 1 and (can_create == false or domains.first.owner?)
    / Readonly
    %span.add-on> -#{domains.first.name}.#{RestApi.application_domain_suffix}
    = form.hidden_field :domain_name, :value => domains.first.name

    - if can_create
      %p.help-block
        %span= "You can also #{link_to "create a new domain", "javascript:;"}"

  - elsif domains.present?
    / Select
    %span.add-on.middle> &ndash;
    = form.select :domain_name,
      domains.map(&:name).sort,
      {:include_blank => true, :selected => current_value.presence || (default_domain.name if default_domain)},
      {:class => "domain_name #{'error' if application.errors.include? :domain_name}"}
    %span.add-on>= ".#{RestApi.application_domain_suffix}"

    - if can_create
      %p.help-block
        %span= "You can also #{link_to "create a new domain", new_domain_path}".html_safe

  - elsif can_create
    / Text
    %span.add-on.middle> &ndash;
    = form.text_field :domain_name, 
      :value => "#{current_value}", 
      :placeholder => 'Domain', 
      :size => nil, 
      :class => "domain_name span3 #{'error' if application.errors.include? :domain_name}"
    %span.add-on>= ".#{RestApi.application_domain_suffix}"

    %p.help-block
      %span.text-warning Because this is your first application, you need to provide a domain name under which your applications will be grouped
  - else
    / Error
    %span.add-on> Error, can't create domain



  -# If the user has a domain, use it, otherwise prompt them for that field
/   - if domain and domain.persisted?

/     %span.add-on> -#{domain.name}.#{RestApi.application_domain_suffix}

/   - else

/     %span.add-on.middle> &ndash;
/     %label.invisible{:for => 'application_domain_name'} Domain
/     = form.text_field :domain_name, 
/       :value => "#{application.domain_name}", 
/       :placeholder => 'Domain', 
/       :size => nil, 
/       :class => "domain_name span3 #{'error' if application.errors.include? :domain_name}"
/     %span.add-on>= ".#{RestApi.application_domain_suffix}"

/ - unless domain and domain.persisted?
/   %p.help-block
/     %span.text-warning Because this is your first application, you need to provide a domain name under which your applications will be grouped
