- # application
- # domains: list of existing domain objects
- # can_create: true or false
- # create_domain_url: nil or url to create and return to the current page with params embedded

- show_first = false
- show_create = false
.input-prepend.input-append
  %span.add-on http://

  %label.invisible{:for => 'application_name'} Application name
  = form.text_field :name, 
    :value => "#{application.name}", 
    :autofocus => true,
    :size => nil, 
    :placeholder => 'Application name', 
    :class => "application_name span3 #{'error' if application.errors.include? :name}"

  - if domains.length == 1 and (can_create == false or domains.first.owner?)
    -# Readonly
    = form.hidden_field :domain_name, :value => domains.first.name
    %span.add-on> -#{domains.first.name}.#{RestApi.application_domain_suffix}

    - show_create = can_create and create_domain_url

  - elsif domains.present?
    -# Select
    %span.add-on.middle> &ndash;
    = form.select :domain_name,
      domains_for_select(domains),
      {:include_blank => !domains.find {|d| d.name == application.domain_name }},
      {:class => "domain_name #{'error' if application.errors.include? :domain_name}"}
    %span.add-on>= ".#{RestApi.application_domain_suffix}"

    - show_create = can_create and create_domain_url

  - elsif can_create
    -# Text
    %span.add-on.middle> &ndash;
    = form.text_field :domain_name, 
      :placeholder => 'Namespace', 
      :size => nil, 
      :class => "domain_name span3 #{'error' if application.errors.include? :domain_name}"
    %span.add-on>= ".#{RestApi.application_domain_suffix}"

    - show_first = true
  - else
    -# Error
    %span.add-on> Error, can't create domain

- if show_first
  %p.help-block
    %span.text-warning.wrap Because this is your first application, you need to provide a domain under which your applications will be grouped

- if show_create
  %p.help-block
    %span= "You can also #{link_to "create a new domain", create_domain_url, {:class => 'create_domain', :data => {:submit_domain => true}}}.".html_safe
