- breadcrumb_for_application @application, 'Confirm delete'

%h1 Delete Application

= semantic_form_for @application, :html => {:method => :delete, :class => 'form'} do |f|
  %p 
    Are you sure you want to delete the application 
    <strong>'#{@application.name}'?</strong>

  %p 
    This will delete all the code and data associated with 
    the app, and cannot be undone. Make sure this is something 
    you really want to do!

  = f.semantic_errors
  = f.buttons do
    = link_to 'Cancel', @referer || application_path(@application), :class => 'btn'
    = f.commit_button :label => "Delete", :button_html => {:class => 'btn btn-danger'}
    = f.loading
