- breadcrumb_for_application @application, @wizard ? 'Next steps' : 'Get Started'

- if @wizard
  = app_wizard_steps_create 2, :completed => true
  %h1.invisible Get Started
  %section
    = flashes
    %p.larger Your application has been created. #{link_to "Continue to the application overview page", application_path(@application)}.

- else
  %h1 Get Started
  %section
    = flashes
    %p.larger Looking for tips on what to build or where to go next?  We've organized some helpful hints for you.


%section.row
  .span7
    -# git/setup
    %h2 Making code changes
    - unless @has_keys
      .alert.alert-info You must #{link_to "upload a public key", new_key_path} before you can access application source code.

    %p Install the Git client for your operating system, and from your command line run
    %pre.cli
      = preserve do
        :escaped
          git clone #{@application.git_url}
          cd #{@application.name}/
    %p 
      This will create a folder with the source code of your application. After making a change,
      %strong add,
      %strong commit,
      and
      %strong push
      your changes.
    %pre.cli
      = preserve do
        :escaped
          git add .
          git commit -m 'My changes'
          git push

    %p 
      When you push changes the OpenShift server will report back its status on deploying your code. 
      The server will run any of your configured
      = link_to "deploy hooks", deploy_hook_user_guide_topic_url
      and then restart the application.

  .span5
    -# application url
    %h2 Public Web URL
    %p.well.application-url.larger
      = link_to @application.web_url, @application.web_url, :target => '_blank'

    -# cartridges
    %h2 Add a Database or Service
    %p.larger
      Extend your application by adding cartridges

    - carts = CartridgeType.cached.embedded.clone.sort
    - dbs = CartridgeType.suggest!(carts, :database?, 3)
    - jenkins, builders = CartridgeType.suggest!(carts, :builder?).partition(&:jenkins_client?)

    - if dbs.present?
      %p.larger
        Databases -
        = map_to_sentence(dbs) do |c|
          #{link_to c.display_name, application_cartridge_type_path(@application, c.name)}
    - if jenkins.present?
      %p.larger
        Tools - #{link_to "Enable Jenkins continuous integration", application_building_path(@application)}
    - elsif builders.present?
      %p.larger
        Tools -
        = map_to_sentence(builders) do |c|
          #{link_to c.display_name, application_cartridge_type_path(@application, c.name)}

    %p.larger= link_to "Or, see all cartridges", application_cartridge_types_path(@application)

%section.row
  .span12
    -# client
    %h2 Other ways to manage this application

  .span6
    %h3 Command-Line

    %p
      Most of the capabilities of OpenShift are exposed through our command line tool, 
      %strong rhc.
      #{link_to "Follow these steps to install the client", client_tools_install_help_url}
      on Linux, Mac OS X, or Windows.
    %p
      After installing the command line tool read more 
      #{link_to "on how to manage your application from the command line in our User Guide", user_guide_url }.

  .span6
    %h3 JBoss Developer Studio

    %p
      The JBoss Developer Studio is a full featured IDE with OpenShift integration built in.
      It gives you the ability to create, edit and deploy applications without having to
      leave the IDE.  Links to download, install and use the JBoss Developer Studio for Linux,
      Mac OS X, or Windows can be found on the
      #{link_to("JBoss Developer Studio tools page.", "#{client_tools_help_url}")}
    -# tech specific
