- content_for :full_layout, true
- content_for :dark_layout, true

- breadcrumb_for_application @application

- content_for :top do
  .grid-wrapper.section-header
    %nav.span12.span-flush-right.application-info
      %ul.pull-right.unstyled-flat.bits
        %li
          %h6 Gears
          %span.data #{@application.gear_count} total

        %li#restart-container.popover-restart
          = link_to application_restart_path(@application), { :id => 'restart-link', 'data-html' => 'true', 'data-placement' => 'bottom', :class => 'block btn-console-header', :title => 'Restart Application'} do
            %span.font-icon.font-icon-size-34.font-icon-grey{:alt => 'Restart', :title =>"Restart application", "aria-hidden" => "true", "data-icon" => "\ue020"}
          #restart-popover.hide
            = render 'restarts/form'

      %h1.name= @application.name
      .url
        %strong @
        = link_to @application.web_url, @application.web_url

%section#app-specifics
%section#app-cartridges.span9
  %header.clearfix
    %h3.pull-left Cartridges
    .pull-right
      = link_to application_cartridge_types_path(@application), :class => 'btn-add-cart' do
        Add Cartridge
        %span.sprite

  - @gear_groups.each_with_index do |group,g|
    .gear-group
      - group.cartridges.each_with_index do |cartridge,c|
        .cartridge-block
          .cartridge-border
            .cartridge-inset
              .clearfix
                %ul.pull-right.unstyled-flat.bits
                  - if c == 0
                    %li
                      %h6 Status
                      %span.data= gear_group_state(group.states)
                    %li
                      %h6 Gears
                      %span.data{:title => gear_group_count_title(group.gears.length)}= cartridge_gear_group_count(group)
                    %li
                      %h6 Storage
                      %span.data{:style => "text-transform: none"}
                        = link_to cartridge_storage(cartridge), application_storage_path(@application)
                  - else
                    %li
                      %h6 Gears
                      %span.data{:title => 'This cartridge shares resources with the other cartridges it is grouped with.'} Shared

                      -#%li
                        %h6 Type
                        %span.data= cartridge.type
                      -#
                        %li
                          %img{:src => "/app/images/console/gear-sm.png", :alt => ''}
                %h2= cartridge.display_name

              - if cartridge.git_url
                - if @has_keys
                  %h6 
                    Git Repository
                  %p
                    %input#application_git_url.git-url{:readonly => 'readonly', :value => cartridge.git_url, :title => 'The code for your application will be available through this Git repository.'}
                    - content_for :javascripts do
                      :javascript
                        $('#application_git_url').focus(function() {this.select()});

                  %h6= link_to 'Want to log in to your application?', '#', :'data-unhide' => '.ssh.hidden'
                  .ssh.hidden
                    %p 
                      The command below will open a Secure Shell (SSH) session to your application on most 
                      operating systems.  See our #{link_to 'SSH help page', ssh_help_url} for information 
                      about connecting with Windows, Mac, and Linux computers.
                    %p
                      %input#application_ssh_url.git-url{:readonly => 'readonly', :value => "ssh #{cartridge.ssh_string}", :title => 'Cut and paste this command into a command shell to access your OpenShift application.'}
                      - content_for :javascripts do
                        :javascript
                          $('#application_ssh_url').focus(function() {this.select()});

                - else
                  %p
                    You must #{link_to "add an SSH public key to your account", account_path}
                    before you can upload code or remotely access your application.

              - if cartridge.scales? || cartridge.buildable?
                .embedded
                  - if cartridge.scales?
                    .embedded-cart
                      - if cartridge.current_scale == 1
                        = link_to "Scales with HAProxy", application_scaling_path(@application), :title => 'Your web cartridge will automatically scale up when we detect you are receiving more web traffic'
                      - else
                        = link_to "Scaled up with HAProxy x#{cartridge.current_scale}", 
                                  application_scaling_path(@application), 
                                  :title => web_cartridge_scale_title(cartridge)
                  - if cartridge.builds?
                    .embedded-cart 
                      =link_to 'See Jenkins Build jobs', @application.build_job_url, :title=> 'Jenkins is currently running builds for your application'
                      =link_to '(configure)', application_building_path(@application), :title => 'Remove or change your Jenkins configuration'
                  - elsif cartridge.buildable?
                    .embedded-cart= link_to "Enable Jenkins builds", application_building_path(@application), :title => 'Jenkins helps you run builds, tests, and deployment steps when you push changes to your application.'


  .right.btn-toolbar
    = link_to application_cartridge_types_path(@application), :class => 'btn btn-primary btn-large' do
      Add
      %strong Cartridge
      %i.icon-add

%aside#app-unique-info.span3
  %section#app-unique-info
    -#%h5 Visibility
    -#%ul.unstyled
      %li External
    %h5 Aliases
    %ul.unstyled
      - if @application.aliases.empty?
        %li No alias set
      - else
        - alias_scheme = @application.web_url.split(':').first
        - @application.aliases.each do |a|
          %li= link_to a, "#{alias_scheme}://#{a}"

    - if @application.initial_git_url.present?
      %h5 Based On
      %ul.unstyled
        %li= link_to @application.initial_git_url, @application.initial_git_url

  #assistance
    %h5 New to OpenShift?
    %ul.unstyled
      %li= link_to 'See the getting started tips for this app →', get_started_application_path(@application)

    %h5 Need Help?
    %ul.unstyled
      %li= link_to 'OpenShift User Guide', user_guide_url
      %li= link_to 'Sync your OpenShift repo with an existing Git repo', sync_git_with_remote_repo_knowledge_base_url 

  -# %h5 Need Help? #restore later
    %ul.unstyled
      %li
      - if @application_type.help_topics and not @application_type.help_topics.empty?
        %h5= @application.framework_name + ' Help'
        %ul.unstyled
        - @application_type.help_topics.each do |key, value|
          %li= link_to key, value

  .btn-toolbar
    = link_to 'Delete this application', delete_application_path(@application), :class => 'btn btn-small'

- content_for :javascripts do
  :javascript
    $('#restart-link').popover({
      content: function() { return $('#restart-popover').html(); }
    }).click(function() {
      $('#restart-link').toggleClass('highlight');
      $('#restart-container').activateForms();

      return false;
    });

    $('#restart-container').on('click', '.restart-cancel', function() {
      $('#restart-link').removeClass('highlight').popover('hide');
      return false;
    }).on('submit', 'form', function() {
      $('#restart-container .btn').hide();
    });

