- content_for :full_layout, true
- content_for :dark_layout, true

- breadcrumb_for_application @application

- content_for :top do
  .grid-wrapper.section-header
    %nav.span12.span-flush-right.application-info
      %ul.pull-right.unstyled-flat.bits
        %li
          %h6 Gears
          %span.data #{@application.gear_count} total

        %li#restart-container.popover-restart
          = link_to application_restart_path(@application), { :id => 'restart-link', 'data-html' => 'true', 'data-placement' => 'bottom', :class => 'block btn-console-header', :title => 'Restart Application'} do
            %span.font-icon.font-icon-size-34.font-icon-grey{:alt => 'Restart', :title =>"Restart application", "aria-hidden" => "true", "data-icon" => "\ue020"}
          #restart-popover.hide
            = render 'restarts/form'

      %h1.name
        = @application.name
        .url{style: 'opacity: 1.0; font-size: 26px; display: inline;'}
          = '/'
          - if @application.aliases.length > 1
            = link_to @application.aliases.first.name, URI::HTTP.new('http', nil, 'www.foo.com', nil, nil, nil, nil, nil, nil).to_s, style: 'color: #ccc'
            = link_to pluralize(@application.aliases.length - 1, 'alias'), application_path(@application), style: 'font-size: 15px'
          - elsif @application.aliases.present?
            = link_to @application.aliases.first.name, URI::HTTP.new('http', nil, 'www.foo.com', nil, nil, nil, nil, nil, nil).to_s, style: 'color: #ccc'
            = link_to 'change', application_path(@application), style: 'font-size: 15px'
          - else
            = link_to URI.parse(@application.web_url).hostname, @application.web_url, style: 'color: #ccc'
            = link_to "change", new_application_alias_path(@application), style: 'font-size: 15px'

%section#app-specifics
%section#app-cartridges.span9
  %header.clearfix.header-bar
    %h3
      Cartridges
    .header-btn
      = link_to application_cartridge_types_path(@application) do
        %span.header-btn-title add cartridge
        %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee16"}
    -#%h3.pull-left Cartridges
      .pull-right
        = link_to application_cartridge_types_path(@application), :class => 'btn-add-cart' do
          Add Cartridge
          %span.sprite

  - @gear_groups.each_with_index do |group,g|
    .gear-group
      - group.cartridges.each_with_index do |cartridge,c|
        .cartridge-block
          .cartridge-border
            .cartridge-inset
              %h2.flow
                %span{:title => cartridge.name}= cartridge.display_name

                %span.flow-block.right
                  - if c == 0
                    = link_to cartridge_storage(cartridge), application_storage_path(@application), style: 'margin-right: 10px; opacity: 0.4; color: white;'
                    %span.gear-states{style: 'margin-right: 10px; opacity: 0.4;'}= gear_group_state(group.states)

                    %span.gear{:title => gear_group_count_title(group.gears.length)}
                      = group.gears.length
                      %span.gear-icon{'aria-hidden'=>"true", 'data-icon' => "\ue014", style: 'opacity: 0.25'}
                      - if cartridge.scales?
                        .gauge-vertical>
                          - if cartridge.has_scale_range?
                            - if cartridge.can_scale_up?
                              %span.gauge-tick.fill>  .
                              %span.gauge-tick.fill>  .
                              %span.gauge-tick.fill>  .
                            - elsif cartridge.can_scale_down?
                              %span.gauge-tick.empty> .
                              %span.gauge-tick.empty> .
                              %span.gauge-tick.fill>  .
                            - else
                              %span.gauge-tick.empty> .
                              %span.gauge-tick.fill>  .
                              %span.gauge-tick.fill>  .
                          - else
                            %span.gauge-tick.fill> .
                            %span.gauge-tick.fill> .
                            %span.gauge-tick.fill> .

                  - else
                    -#%span.data{:title => , style: 'opacity: 0.25'} Shared
                    %span.gear{:title => 'This cartridge shares resources with the other cartridges it is grouped with.'}
                      %span.gear-icon{'aria-hidden'=>"true", 'data-icon' => "\ue014", style: 'opacity: 0.1'}

              -#.clearfix
                %ul.pull-right.unstyled-flat.bits
                  - if c == 0
                    %li
                      %h6 Status
                      %span.data= gear_group_state(group.states)
                    %li
                      %h6 Gears
                      %span.data{:title => gear_group_count_title(group.gears.length)}
                        = link_to cartridge_gear_group_count(group), application_scaling_path(@application)
                    %li
                      %h6 Storage
                      %span.data{:style => "text-transform: none"}
                        = link_to cartridge_storage(cartridge), application_storage_path(@application)
                  - else
                    %li
                      %h6 Gears
                      %span.data{:title => 'This cartridge shares resources with the other cartridges it is grouped with.'} Shared

                -#%h2{:title => cartridge.name}= cartridge.display_name

              - if cartridge.custom?
                %p Created from #{link_to cartridge.url, cartridge.url}

              - if cartridge.scales? || cartridge.builds?
                .embedded
                  - if cartridge.scales?
                    .embedded-cart
                      - if cartridge.current_scale == 1
                        = link_to "Scaling with HAProxy x1", application_scaling_path(@application), :title => 'Your web cartridge will automatically scale up when we detect you are receiving more web traffic'
                      - else
                        = link_to "Scaled up with HAProxy x#{cartridge.current_scale}",
                                  application_scaling_path(@application),
                                  :title => web_cartridge_scale_title(cartridge)
                  - if cartridge.builds?
                    .embedded-cart
                      =link_to 'See Jenkins Build jobs', @application.build_job_url, :title=> 'Jenkins is currently running builds for your application'
                      =link_to '(configure)', application_building_path(@application), :title => 'Remove or change your Jenkins configuration'


  %section.gutter{style: 'margin-top: 30px; position: relative;'}
    - carts = CartridgeType.cached.embedded.clone
    -#%h4 Add additional capabilities to this application
    %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee16", style: "font-size: 50px; position: absolute; right: 10px; top: 0; opacity: 0.3;"}
    .row-fluid
      - if @application.cartridges.none?(&:database?)
        .span3
          %h5 Databases
          %ul.unstyled
            - CartridgeType.suggest!(carts, :database?, 3).each do |c|
              %li
                %span{:'data-icon' => "\uee09"}
                = link_to "Add #{c.display_name}", application_cartridge_type_path(@application, c)
      - unless @application.builds?
        .span5
          %h5 Continuous Integration
          - jenkins, builders = CartridgeType.suggest!(carts, :builder?).partition(&:jenkins_client?)
          %ul.unstyled
            - if jenkins.present?
              %li
                %span{:'data-icon' => "\ue023"}
                = link_to "Enable Jenkins", application_building_path(@application)
            - builders.each do |c|
              %li
                %span{:'data-icon' => "\ue023"}
                = link_to "Add #{c.display_name}", application_cartridge_type_path(@application, c)

      - if (useful = CartridgeType.suggest_useful!(@application, carts)).present?
        .span4
          %h5 Tools and Support
          %ul.unstyled
            - useful.each do |c|
              %li
                %span{:'data-icon' => "\ue021"}
                = link_to "Add #{c.display_name}", application_cartridge_type_path(@application, c)

    %p.larger= link_to "Or, see the entire list of cartridges you can add", application_cartridge_types_path(@application)

%aside#app-unique-info.span3
  -#%section#aliases.sidebar
    %header.clearfix.header-bar
      %h5
        Aliases
      .header-btn
        = link_to new_application_alias_path(@application) do
          %span.header-btn-title add alias
          %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee16"}

    %ul.unstyled
      - if @application.aliases.empty?
        %li
          %span No aliases set.
          = link_to('Set one now', new_application_alias_path(@application))
      - else
        - alias_scheme = @application.web_url.split(':').first
        - @application.aliases.sort.each do |a|
          %li
            - if a.has_private_ssl_certificate?
              %span.icon-lock.font-icon-size-12.font-icon-white.pull-left{'aria-hidden' => true, :title => 'SSL certificate attached'}
            - else
              %span.icon-unlock.font-icon-size-12.font-icon-grey.pull-left{'aria-hidden' => true, :title => 'No SSL certificate'}
            = link_to a.name, edit_application_alias_path(@application, a.name)
            .pull-right.icon-pencil.font-icon-grey
              = link_to 'edit', edit_application_alias_path(@application, a.name)

    - if @application.initial_git_url.present?
      %h5 Based On
      %ul.unstyled
        %li= link_to @application.initial_git_url, @application.initial_git_url

  #source-code
  - if @has_keys
    %h5 Source Code
    %p.small
      The app code is located in Git at:
      %input#application_git_url.git-url{:readonly => 'readonly', :value => @application.git_url, :title => 'The code for your application will be available through this Git repository.', :style => 'with: 100%; width: -moz-available;'}
      - content_for :javascripts do
        :javascript
          $('#application_git_url').focus(function() {this.select()});
    %p.small
      Pass this URL to 'git clone' to copy the repository locally.

    %h5 Remote Access
    %ul.unstyled
      %li= link_to 'Want to log in to your application?', '#', :'data-unhide' => '.ssh.hidden'
      %li.ssh.hidden
        %p
          The command below will open a Secure Shell (SSH) session to your application on most operating systems.  See our #{link_to 'SSH help page', ssh_help_url} for information about connecting with Windows, Mac, and Linux computers.
        %p
          %input#application_ssh_url.git-url{:readonly => 'readonly', :value => "ssh #{@application.ssh_string}", :title => 'Cut and paste this command into a command shell to access your OpenShift application.'}
          - content_for :javascripts do
            :javascript
              $('#application_ssh_url').focus(function() {this.select()});

  - else
    %h5 Source Code
    %p.small
      You must #{link_to "add an SSH public key to your account", get_started_application_path(@application)}
      before you can upload code or remotely access your application.

    %h5 Remote Access
    %p.small
      Requires a public key.

    -#
      %h5 Need Help?
      %ul.unstyled
        %li= link_to 'OpenShift User Guide', user_guide_url
        %li= link_to 'Sync your OpenShift repo with an existing Git repo', sync_git_with_remote_repo_knowledge_base_url 

  -##assistance
    %h5 New to OpenShift?
    %ul.unstyled
      %li= link_to 'See the getting started tips for this app →', get_started_application_path(@application)

    %h5 Need Help?
    %ul.unstyled
      %li= link_to 'OpenShift User Guide', user_guide_url
      %li= link_to 'Sync your OpenShift repo with an existing Git repo', sync_git_with_remote_repo_knowledge_base_url 

  -# %h5 Need Help? #restore later
    %ul.unstyled
      %li
      - if @application_type.help_topics and not @application_type.help_topics.empty?
        %h5= @application.framework_name + ' Help'
        %ul.unstyled
        - @application_type.help_topics.each do |key, value|
          %li= link_to key, value

  .btn-toolbar
    = link_to 'Delete this application', delete_application_path(@application), :class => 'btn btn-small'

- content_for :javascripts do
  :javascript
    $('#restart-link').popover({
      content: function() { return $('#restart-popover').html(); }
    }).click(function() {
      $('#restart-link').toggleClass('highlight');
      $('#restart-container').activateForms();
      return false;
    });

    $('#restart-container').on('click', '.restart-cancel', function() {
      $('#restart-link').removeClass('highlight').popover('hide');
      return false;
    }).on('submit', 'form', function() {
      $('#restart-container .btn').hide();
    });
