.capacity
  - if @cache_timeout > 0.seconds
    %small.pull-right.muted
      %form{:action => reload_path, :method => "post"}
        = "Data collected #{time_ago_in_words(@stats_created_at)} ago."
        %button.btn.btn-mini.btn-icon{:type => "submit", :title => "Refresh now."}
          %i.icon-refresh
  - if @summary_for_profile.size == 0 # no profiles to show
    = render :partial => 'welcome'
  - else
    %h1
      System Overview
    .row
      - if @suggestions.size <= 4 # inline suggestions with the profiles 
        - @summary_for_profile.each_with_index do |profile, index|
          .span6{:class => !@suggestions.empty? && index == 1 ? "clear" : ""}
            = render :partial => 'profile', :locals => {:profile => profile[1]}
          - if !@suggestions.empty? && index == 0
            .span6.suggestions-overview
              = render :partial => 'suggestions'
      - else # too many suggestions, put them in the right column
        .span7
          - @summary_for_profile.each_with_index do |profile, index|
            = render :partial => 'profile', :locals => {:profile => profile[1]}
        .span5.suggestions-overview
          = render :partial => 'suggestions'
