#footer-nav
  .container
    .row
      .span3.link-column
        %header
          %h3 News
        %ul.unstyled
          %li= link_to 'Announcements', 'https://www.redhat.com/openshift/forums/news-and-announcements'
          %li= link_to 'Blog', openshift_blog_url
          %li= link_to 'Twitter', openshift_twitter_url

      .span3.link-column
        %header
          %h3 Community
        %ul.unstyled
          %li= link_to 'Forum', forums_url
          %li= link_to 'IRC Channel', irc_web_url
          %li= link_to 'Feedback', mailto_openshift_url

      .span3.link-column
        %header
          %h3 Legal
        %ul.unstyled
          %li= link_to 'Open Source Disclaimer', legal_opensource_disclaimer_url

      .span3.link-column
        %header
          %h3 Help
        %ul.unstyled
          %li= link_to 'FAQ', faq_url 
          %li= link_to 'Contact', 'mailto:openshift@redhat.com'

-#%section#copyright
  .container
    %img{ :src => image_path("redhat.png"), :alt => "Red Hat" }
    .pull-right Copyright &copy; 2011 Red Hat, Inc.
%section#copyright
  .container
    The #{link_to "OpenShift", openshift_url} management console is open source and
    #{link_to "available on Github", openshift_github_project_url('console')}. See
    #{link_to "README.md", openshift_github_project_url('console/blob/master/README.md')}
    for copyright and source information.

