#footer-nav
  .container
    .row
      %nav.span4
        %header
          %h3= link_to 'Developers', developers_url
        %ul.unstyled
          %li= link_to 'Get Started', getting_started_path
          %li= link_to 'User Guide', user_guide_url
          %li= link_to 'FAQ', faq_url
          -# %li= link_to 'Ask on StackOverflow', stack_overflow_url

      %nav.span4
        %header
          %h3= link_to 'Community', community_url
        %ul.unstyled
          %li= link_to 'Blog', protonbox_blog_url
          %li= link_to 'Forum', forums_url
          %li= link_to 'IRC Channel', irc_web_url
          %li= link_to 'Feedback', mailto_protonbox_url

      %nav.span4
        %header
          %h3= link_to 'ProtonBox', opensource_community_url
        %ul.unstyled
          -# %li= link_to 'Get the Source', opensource_download_url
          -# %li= link_to 'Community Process', opensource_process_url
          -# %li= link_to 'Make it Better', opensource_architecture_url
          %li= link_to 'ProtonBox on GitHub', protonbox_github_url

%section#copyright
  .container
    Copyright 2013 littleFoundry, Inc. All Rights Reserved. ProtonBox is a trademark of littleFoundry, Inc.

