- content_for :javascripts do
  -#= javascript_include_tag status_jsonp_url('outage')
  :javascript
    window.loader_image = '#{image_path('loader-dark.gif')}';

!!! 5
-# http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
-ie_html :class => 'no-js', :lang => 'en' do
  %head
    = render "layouts/head"
    = render "layouts/console/stylesheets"

  %body{ :class => "console #{controller.controller_name} #{controller.action_name}" }

    %header
      = render 'layouts/console/header'

    .section-console#content{:class => content_for?(:dark_layout) ? '' : 'section-console-light'}
      .container
        .row-console
          - if content_for? :full_layout
            .row.row-flush-right
              .grid-wrapper.ribbon
                .span12.span-flush-right
                  - if content_for? :breadcrumbs
                    %nav
                      = yield :breadcrumbs
              = yield :top
              .grid-wrapper.section-body
                .span12
                  = flashes
                = yield

          - else
            .row.row-flush-right
              .grid-wrapper.ribbon
                .span12.span-flush-right
                  - if content_for? :breadcrumbs
                    %nav
                      = yield :breadcrumbs
                  - else
                    &nbsp;
              = yield :top
              .column-content.grid-wrapper
                .span12
                  = flashes
                  = yield

    %footer
      = yield :footer

      = render 'layouts/footer'

    = render 'layouts/javascripts'

    = render('shared/tracking',
      :controller => controller.controller_name,
      :action => controller.action_name,
      :event => @event ||= '',
      :evar8 => @evar8 ||= '') if Rails.env.production?
