%h1.invisible Add a New Cartidge
= cartridge_wizard_steps_create 0
- if @framework.id == 'haproxy-1.4'
  .alert 
    Cartridges are currently unable to be embedded in a scaled application. 
    We will be adding support shortly!
    In the mean time, some are available as standalone applications.
-else
  %p
    Choose a cartridge to add to your application.

%section.row
  - @cart_types.in_groups(3, false).each do |types|
    .span4
      = render :collection => types, :partial => 'cartridge_types/cartridge_type'
  - if @cart_types.empty?
    .alert.alert-info There are no cartridges that can be installed

%section.row
  - unless @installed_cart_types.empty?
    .span6
      %h2 Installed cartridges
      = render :collection => @installed_cart_types, :partial => 'cartridge_types/cartridge_type', :locals => {:inactive => true}

  - unless @requires_cart_types.empty? and @conflicts_cart_types.empty? and @blocked_cart_types.empty?
    .span6
      %h2 Cartridges that cannot be installed
      = render :collection => @requires_cart_types, :partial => 'cartridge_types/cartridge_type', :locals => {:inactive => true, :reason => :requires}
      = render :collection => @conflicts_cart_types, :partial => 'cartridge_types/cartridge_type', :locals => {:inactive => true, :reason => :conflicts}
      = render :collection => @blocked_cart_types, :partial => 'cartridge_types/cartridge_type', :locals => {:inactive => true, :reason => :blocked}

- content_for :javascripts do
  :javascript
    jQuery('.cartridge_type').click(function() {
      a = $('a.btn', this)[0];
      window.location = a.href
    });
