:css
  .cartridge_type {background-color: #F5F5F5; padding: 9px 35px 10px 21px; margin-bottom: 20px;}
  .cartridge_type > ul.meta > li {display: inline;}
  .cartridge_type > ul.meta > li > label {display: inline;}

%h1.invisible Configure New Application
= cartridge_wizard_steps_create 1

= render :partial => @cartridge_type, :locals => {:hide_link => true, :extra_info => true}

= semantic_form_for @cartridge, :url => application_cartridges_path(@application_id), :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :type, :value => @cartridge_type.type
  = f.hidden_field :name, :value => @cartridge_type.id
  = f.semantic_errors :name
  .div
    Do you want to add the
    %strong
      #{@cartridge_type.name}
    cartridge to your application?
  = f.buttons do
    .pull-right
      = link_to "Back", application_cartridge_types_path(@application_id), :class => 'btn'
      = f.commit_button("Add Cartridge")
      = f.loading
