- content_for :page_title, 'My Account'

%h1 My Account
= flashes
.row
  .span7
    %section
      = render :partial => 'user', :locals => {:user => @user, :show_email => @show_email, :identities => @identities}

    %section
      = render :partial => 'domain', :locals => {:domain => @domain}

  .span5
    %section
      = render :partial => 'plan_info'

    %section
      = render :partial => 'keys', :locals => {:keys => @keys}
