- content_for :page_title, 'My Account'

%h1 My Account
= flashes
.row
  .span7
    %section
      = div_for @user do
        %h2 Personal Information

        %p
          OpenShift currently allows access via an existing Red Hat account or through an account created with your e-mail and password.

        %table.table
          %thead
            %tr
              %th{:title => 'The account name you will use to log in'} Login
              - if @show_email
                %th Email
              %th Account Type
          - @identities.each do |i|
            %tr
              %td= i.id
              - if @show_email
                %td= i.email
              %td= i.url.present? ? link_to(i.type_name, i.url, :class => 'external') : i.type_name

        .btn-toolbar
          = link_to "Change password...", edit_account_password_path, :class => 'btn'
          -#%li= link_to "Terms of Use", legal_site_terms_path
          -#%li= link_to "Privacy Policy", legal_openshift_privacy_path

    %section
      %h2 Namespace
      %p 
        Your namespace is unique to your account and is the suffix of the public URLs we assign to your applications.
        See #{link_to 'the User Guide', add_domains_user_guide_topic_url}
        for information about adding your own domain names to an application.

      - if @domain
        .well
          http://applicationname&ndash;
          %strong.namespace>= @domain.name
          = ".rhcloud.com"
        .btn-toolbar
          = link_to "Change your namespace...", edit_domain_path, :class => 'btn'

      - else
        = render Domain.new

  .span5
    %section
      %h2 Public Keys
      %p 
        OpenShift uses public keys to securely encrypt the connection between your local machine and your application and to authorize you to upload code. You must create a private and public key on your local machine and then upload the public key before you can connect to your applications' Git repositories.
        = link_to "Read our User Guide topic on keys.", ssh_key_user_guide_topic_url

      - if @keys.empty?
        = render :partial => 'keys/simple_form', :locals => { :key => Key.new, :input_class => 'span4' }
      - else
        %table.table.table-condensed.table-striped
          - @keys.each do |key|
            %tr{:id => "#{key.name}_sshkey"}
              %td.sshkey-name= key.name
              %td.code.sshkey= key.display_content
              %td= link_to 'Delete', key_path(key), :class => 'btn btn-mini btn-danger delete_button', :method => :delete, :confirm => "Are you sure you want to delete your key '#{key.name}'?"
        .btn-toolbar
          = link_to "Add a new key...", new_key_path, :class => 'btn'
