- content_for :page_title do
  OpenShift Account

%section.main
  %header
    %h1 My Account
    = flashes
    = div_for @userinfo do
      %h2 Personal Information
      %p 
        Important emails relating to your OpenShift account will be sent to
        %strong
          = @userinfo.rhlogin

      %ul.actions
        %li= link_to "Change password", edit_password_path
        -#%li= link_to "Terms of Use", legal_site_terms_path
        -#%li= link_to "Privacy Policy", legal_openshift_privacy_path

    %div
      %h2 Domain
      -if @domain.namespace
        %p 
          Your applications will be located at 
          %strong
            http://&lt;app name&gt;-#{@domain.namespace}.rhcloud.com
        %ul.actions
          %li= link_to "Change domain", edit_namespace_express_domains_path

        %p You can also link domain names you own to any of your applications. See #{link_to 'this help topic on domain name aliases', '/doc/path'}.

      -else
        %p You have not yet created a domain. Your domain's name is part of the URL that your OpenShift applications will be available under.
        = render :partial => 'shared/domain', :locals => { :express_domain => @domain, :dom_action => 'create' }

    %div
      %h2 Public Keys
      -if @domain.namespace
        %p OpenShift uses public keys to securely encrypt the connection between your local machine and your application and to authorize you to upload code. You must create a private and public key on your local machine and then upload the public key before you can connect to your applications' Git repositories.

        -if @userinfo.default_ssh_key.key_string.blank?
          .row
            .span7= render :partial => 'shared/ssh_key', :locals => { :express_domain => @domain }
            .span5= render :partial => 'shared/ssh_key_help.html'

        -else
          %p
            Your ssh key is
            %strong
              #{@userinfo.default_ssh_key.key_string.slice(0, 20)+ '...'}
          %ul.actions
            %li= link_to "Change ssh key", edit_sshkey_express_domains_path

      -else
        %p Create a namespace first, you will then be able to add your ssh key.

