.row
  .span7
    %h1.header{:title => "Gear #{@gear.uuid}"}
      = image_tag "admin_console/gear-lg.svg", :class => "icon"
      %span.lighter
        Gear
      = @gear.uuid
  .span5
    - owner_login = @app.domain.owner.login
    %h1.user.right{:title => "Owner #{owner_login}"}
      = image_tag "admin_console/user.svg", :class => "icon"
      = link_to owner_login, user_path(:id => owner_login)
%table.table-horizontal
  %tbody
    %tr
      %th
        Node
      %td
        = link_to @gear.server_identity, node_path(:id => @gear.server_identity)
    %tr
      %th
        Application
      %td
        = link_to @app.fqdn, application_path(:id => @app.uuid)
    %tr
      %th
        Cartridges
      %td
        %ul.unstyled
          - cartridges = gear_group_cartridges(@app, @gear.group_instance)
          - cartridges.each do |cartridge|
            %li
              = cartridge[:display_name]
    - if @server && @server.region_name.present?
      %tr
        %th
          Region
        %td
          %ul.unstyled
            = @server.region_name
    - if @server && @server.zone_name.present?
      %tr
        %th
          Zone
        %td
          %ul.unstyled
            = @server.zone_name
