:css
  span.flow-block > span {margin: 0 10px; font-size: 18px; font-weight: normal; text-transform: uppercase; opacity: .75;}

- content_for :full_layout, true
- content_for :dark_layout, true
- content_for :top do
  .grid-wrapper.section-header
    %nav.span12.span-flush-right.applications
      %h1.flow
        = "Domain #{@domain.name}"

        %span.flow-block.right
          %span{:title => 'Applications'}= pluralize(@domain.application_count, 'application')
          %span{:title => 'Gears'}= pluralize(@domain.gear_counts.values.sum, 'gear')
          %span{:title => 'Members'}= pluralize(@domain.members.count, 'member')

= breadcrumb_for_domain(@domain)

%section#app-list.span12
  %section{style: 'margin-bottom: 20px; padding-bottom:'}

  .row{style: 'margin-bottom: 20px; padding-bottom:'}
    .span8
      %h2 Applications
      - @domain.applications.each do |application|
        = render :partial => 'applications/application2', :locals => {:application => application}

    .span4
      %section
        %h2 Members
        = render :partial => 'members/members', :locals => {:domain => @domain, :members => @domain.members, :editable => @domain.admin?}

      - if @domain.admin?
        %section
          = render :partial => 'members/new_member', :locals => {:domain => @domain, :member => @member}

      - unless @domain.owner?
        %section
          = render :partial => 'members/leave_domain_button', :locals => {:domain => @domain}

-# FIXME: Refactor me into an unobtrusive javascript function
- content_for :javascripts do
  :javascript
    jQuery('.tile-click').click(function(evt) {
      if ((t = $(evt.target)) && t.is('a')) { return }
      a = $('a.tile-target', this)[0];
      if (a)
        window.location = a.href;
    });
