%h1= "Domain #{@domain.name}"

.row
  .span6
    %section
      %h2 Applications
      - @domain.applications.each do |application|
        %h3.name= application.name
        = link_to "Manage #{application.name}", application_path(application)
        |
        = link_to application.web_url, application.web_url
  .span6
    %section
      %h2 Members
      = render :partial => 'members/members', :locals => {:domain => @domain, :members => @domain.members, :editable => @domain.admin?}

    - if @domain.admin?
      %section
        = render :partial => 'members/new_member', :locals => {:domain => @domain}
  

%section
  %pre= PP.pp(@domain.attributes, "")
