:css
  span.flow-block > span {margin-right: 15px; font-size: 90%; opacity: .75;}

- content_for :full_layout, true
- content_for :dark_layout, true
- content_for :top do
  .grid-wrapper.section-header
    %nav.span12.span-flush-right.applications
      %h1.flow
        = "Domain #{@domain.name}"

        %span.flow-block.right
          %span{:title => 'Applications'}
            = @domain.application_count
            %span{"aria-hidden" => "true", "data-icon" => "\ue033"}
          %span{:title => 'Gears'}
            = @domain.gear_counts.values.sum
            %span{"aria-hidden" => "true", "data-icon" => "\ue014"}
          %span{:title => 'Members'}
            = @domain.members.count
            %span{"aria-hidden" => "true", "data-icon" => "\uee08"}

= breadcrumb_for_domain(@domain)

%section#app-list.span12
  %section{style: 'margin-bottom: 20px; padding-bottom:'}

  .row{style: 'margin-bottom: 20px; padding-bottom:'}
    .span8
      %h2 Applications
      - @domain.applications.each do |application|
        = render :partial => 'applications/application2', :locals => {:application => application}

    .span4
      %section
        %h2 Members
        = render :partial => 'members/members', :locals => {:domain => @domain, :members => @domain.members, :editable => @domain.admin?}

      - if @domain.admin?
        %section
          = render :partial => 'members/new_member', :locals => {:domain => @domain}

      - unless @domain.owner?
        %section
          = render :partial => 'members/leave_domain', :locals => {:domain => @domain}

-# FIXME: Refactor me into an unobtrusive javascript function
- content_for :javascripts do
  :javascript
    jQuery('.tile-click').click(function(evt) {
      if ((t = $(evt.target)) && t.is('a')) { return }
      a = $('a.tile-target', this)[0];
      if (a)
        window.location = a.href;
    });
