:css
  span.pull-right > span {margin: 0 10px; font-size: 18px; font-weight: normal; text-transform: uppercase; opacity: .75;}

  .leave .popover { width: 300px; }
  .leave .popover-inner, .leave .popover-content { width: auto; }

- content_for :page_style, 'highlight'
- content_for :top do
  .grid-wrapper.section-header
    %nav.span12.applications
      %h1.tile
        %span.pull-right
          %span{:title => 'Applications'}= pluralize(@domain.application_count, 'application')
          %span{:title => 'Gears'}= pluralize(@domain.gear_counts.values.sum, 'gear')
          %span{:title => 'Members'}= pluralize(@domain.members.count, 'member')

        = "Domain #{@domain.name}"
        - if @domain.can_rename?
          = surround '(',')' do
            = link_to 'edit name', edit_domain_path(@domain)

%section#app-list
  %section

  .row
    .span8
      %h2 Applications
      - @domain.applications.each do |application|
        = render :partial => 'applications/application2', :locals => {:application => application}

    .span4
      %section
        %h5 Settings

        %h6 Allowed gear sizes
        - if @domain.owner?
          - field = 'domain[allowed_gear_sizes][]'
          = semantic_form_for @domain do |f|
            -# Ensure we send an empty value if all checkboxes are unchecked
            = hidden_field_tag(field, '')
            - @capabilities.gear_sizes.each do |size|
              %label.checkbox{:for => "#{field}_#{size}"}
                = check_box_tag field, size, @domain.allowed_gear_sizes.include?(size), :id => "#{field}_#{size}"
                = "#{size.to_s.humanize} gears"
            = f.buttons do
              = f.commit_button :label => 'Save', :button_html => {:class => 'btn btn-small'}
              = f.loading
        - else
          - @domain.allowed_gear_sizes.each do |size|
            %div= "#{size.to_s.humanize} gears"

      %section
        %h5 Members
        = render :partial => 'members/members_form', :locals => {:domain => @domain, :members => @domain.members, :new_members => @new_members, :editable => @domain.admin?, :editing => @new_members.present?}

      - unless @domain.owner?
        %section
          %span.leave.confirm-container
            = link_to "Leave Domain", domain_leave_path(@domain), { :class => 'btn btn-small confirm-link', :title => 'Leave Domain', 'data-placement' => 'bottom'}
            .confirm-popover.hide
              = render :partial => 'members/leave_domain_form', :locals => {:domain => @domain}
