%h2 Create
%p.subhead Just starting with OpenShift?
%p Get your first application up off the ground through the application creation wizard.
%p #{link_to 'Create an app now', application_types_path, :class => 'btn btn-primary'}
%p If you prefer the command line, #{link_to 'our Getting Started page', getting_started_path} will help you install the client tools, create your application, and make your first change.
%p 
  Our #{link_to 'Get Started Fast page', developers_get_started_fast_url} has tutorials for creating apps based many different technologies like 
  #{link_to 'Drupal', openshift_github_project_url('drupal-quickstart')},
  #{link_to 'Ruby on Rails', openshift_github_project_url('rails-example')}, and
  #{link_to 'Wordpress', openshift_github_project_url('wordpress-example')}. If you don't see your favorite framework, #{link_to 'let us know', mailto_openshift_url}.