%h2 Engage
%p.subhead Need to know what's new?
%p Get occasional email updates about new plans, features, events, and blog posts.
%p #{link_to 'Subscribe today', newsletter_signup_url, :class => 'btn btn-primary'}
%p OpenShift is #{link_to "powered by open source ", opensource_community_url} and can be #{link_to "run on your laptop", opensource_download_path}. #{link_to "Get involved today", get_involved_url} and help drive our evolution.
%p Follow us on Twitter at #{link_to '@openshift', openshift_twitter_url} or read the #{link_to 'OpenShift blog', openshift_blog_url}.
