%h2 Learn
%p.subhead Want to explore our platform?
%p #{link_to 'The Developer Center', developers_url} is the first destination for new developers to find the information you need about OpenShift.
%p When you're looking for a great reference for understanding OpenShift, look no further than the #{link_to 'the User Guide', user_guide_url}.  It covers the entire experience and can be downloaded as HTML or PDF when you're on the go.
%p Our technology highlight pages bring together what you need to know - #{link_to 'JBoss', jboss_resources_url} and #{link_to 'MongoDB', mongodb_resources_url} are up now, with more to come.
%p For some great technology dives #{link_to 'see our Videos page', videos_url}.
-# Some of our favorites are below.