%h2 Troubleshoot
%p.subhead Hit a bump in the road?
%p Our tag on #{link_to 'StackOverflow', ask_questions_url} is watched round the clock by an army of developers, evangelists, and OpenShift devotees.
%form.form-search{:method => 'get', :action => community_search_url}
  %input.span3.search-query{:name => 'query', :placeholder => 'Search OpenShift and StackOverflow', :type => 'text'}
  %button.search.font-icon{:type => 'submit', "aria-hidden" => "true", "data-icon" => "\uee03"}
%p Check out the #{link_to 'Knowledge Base', knowledge_base_url} for known headaches and #{link_to 'FAQ', faq_url} for more general questions
%p Talk directly to the team on IRC - #{link_to 'freenode.net on channel #openshift', irc_web_url}.
%p If you've found a real humdinger of a problem with the console, site, or community - #{link_to 'file a bug', open_bug_url, :target => '_blank' } and we'll try to make it right.
