:css
  .leave { margin-top: 20px; }
  .leave .popover.bottom {margin-left: 75px;}
  .leave .popover.bottom .arrow {margin-left: -70px;}
  .leave .popover.bottom .arrow:before {border: 7px solid transparent; border-bottom-color: rgba(0,0,0,.2); content:''; height: 0; left: -7px; position: absolute; top: -7px; width: 0; z-index: -1;}

  .leave .popover { width: 260px; }
  .leave .popover-inner, .leave .popover-content { width: auto; }

  .js .hidden-scripted { display: none; }

- content_for :page_style, 'highlight'
- content_for :page_title, "Team " + @team.name
- content_for :top do
  .grid-wrapper.section-header.span12
    %nav.team.tile
      %h1
        = "Team #{@team.name}"

%section


  .row
    .span8#team-member-list
      %h2 Members
      = render :partial => 'members/members_form', :locals => {:membership => @team, :new_members => @new_members, :editable => @team.can_edit_membership?, :owned_teams => false, :global_teams => false, :show_help => false}

    .span4#team-member-list.sidebar
      %p
        People who typically share the same role can be added to a team. The team can then be added as a member of a domain, and all of the people in the team will inherit the team's role on the domain.
      %p
        If a person is a member of multiple teams which are members of a domain, or is also added as a domain member individually, their effective role is the higher of their individual role or their teams' roles on the domain.

      - if @team.can_delete?
        .btn-toolbar
          = link_to "Delete this team\u2026", delete_team_path(@team), :class => 'btn btn-small'
      
      - if @team.can_leave?
        %div.leave.confirm-container
          = link_to "Leave Team", team_leave_path(@team), { :class => 'btn btn-small confirm-link', :title => 'Leave Team', 'data-placement' => 'bottom'}
          .confirm-popover.hide
            = render :partial => 'members/leave_team_form', :locals => {:team => @team}
