- type = application_type
= div_for type, :class => 'tile tile-click tile-featured label-tags' do
  .tile-table
    .tile-table-cell
      = logo_for type

    .tile-table-cell
      %h3
        = link_to type.display_name, application_type_path(type), :class => 'tile-target'
        - if type.display_unique_name?
          %span.muted.tile-meta
            = "(#{type.name})"

    .tile-table-cell
      - if type.cartridge?
        %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee51", "title" => "Cartridge"}
      - elsif type.quickstart?
        %span.font-icon{"aria-hidden" => "true", "data-icon" => "\ue029", "title" => "QuickStart"}

  = show_description type.description

  - if type.learn_more_url
    %p.help-block= link_to "Learn more", type.learn_more_url
  - elsif type.website
    %p.help-block= link_to type.website, type.website

  .tile-meta
    %dl.font-icon-legend
      - if type.support_type == :openshift
        %dt
          %span.icon-star-empty{"aria-hidden" => "true", :title => "OpenShift maintained"}
        %dd{:title => 'Updated and maintained by the OpenShift team'} OpenShift maintained
    
      - if type.automatic_updates?
        %dt
          %span.icon-shield{"aria-hidden" => "true", "title" => "Security updates"}
        %dd 
          Receives automatic security updates

      - if type.usage_rates?
        %dt
          = usage_rate_indicator
        %dd 
          May include additional usage fees at certain levels, see plan for details.


    - if type.support_type == :partner
      %div{:title => 'Updated and maintained by a partner'} Partner created
    - elsif type.support_type != :openshift
      %div.label-support.label-support-community.text-warning{:title => 'Created by a community member and not maintained by OpenShift'} Community created

    - unless type.automatic_updates?
      %div.text-warning{:title => 'When you create a QuickStart or a community cartridge, you are copying code from another repository. You are responsible for applying security fixes and updates.'}
        =" Does not receive automatic security updates"

  - if type.tags.include? :in_development
    %p This type is development only and will not be accessible in production

  = application_type_tags(type.tags - excluded_tags)
