- type = application_type
= div_for type, :class => 'tile tile-click label-tags' do
  %h3
    = render :partial => 'application_type_link', :locals => {:type => type}

  = show_description type.description

  - if type.website
    %p=  link_to type.website, type.website

  - if type.learn_more_url
    %p= link_to "Learn more", type.learn_more_url

  - if type.tags.include? :in_development
    %p This type is development only and will not be accessible in production

  = application_type_tags(type.tags - excluded_tags)
