%h3 From Scratch
%p
  This application is based on a link.  If you want others to 
  see this application, #{link_to "create a quickstart in our community", create_quickstart_url}.

%p
  Cartridges:
  - if application_type.cartridges.present?
    = map_to_sentence(application_type.cartridges) do |c|
      - if missing_cartridges.include?(c)
        %span.text-warning{:title => "OpenShift could not locate any cartridges that match '#{c}'"}= c
      - else
        = c
  - else
    %span.text-warning{:title => "No cartridges specified"} none

%p 
  You can copy the link below to allow anyone to share this app.
%p= link_to "Share this link", application_type_url(application_type.id, application_type.to_params)
