
= div_for type, :class => "tile tile-click tile-compact label-tags application_type_#{type.source}", :title => type.description do
  .tile-table
    .tile-table-cell
      - opts = logo_data_icon_for type
      %span{"aria-hidden" => "true", "class" => opts[:class], "data-icon" => opts[:data_icon].html_safe, "title" => opts[:title]}
    .tile-table-cell
      %h3
        = link_to type.display_name, application_type_path(type), :class => 'tile-target'

        - if type.usage_rates?
          = usage_rate_indicator

      = application_type_tags(type.tags - excluded_tags)

      - if type.tags.include?(:in_development)
        %p This type is in development and will not be visible in production.