
= div_for type, :class => "tile tile-click tile-compact label-tags application_type_#{type.source}", :title => type.description do
  .tile-table
    .tile-table-cell
      = logo_for type
    .tile-table-cell
      %h3
        = link_to type.display_name, application_type_path(type), :class => 'tile-target'
        - if type.display_unique_name?
          %span.muted.tile-meta
            = "(#{type.name})"
      = application_type_tags(type.tags - excluded_tags)

      - if type.tags.include?(:in_development)
        %p This type is in development and will not be visible in production.
    .tile-table-cell
      - if type.usage_rates?
        = usage_rate_indicator

      - if type.automatic_updates?
        %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee50", "title" => "Receives automatic security updates"}
      
      - if show_small_app_type_icon?
        - if type.cartridge?
          %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee51", "title" => "Cartridge"}
        - elsif type.quickstart?
          %span.font-icon{"aria-hidden" => "true", "data-icon" => "\ue029", "title" => "QuickStart"}