%h1.invisible Create a New Application
= breadcrumb_for_create_application
= app_wizard_steps_create 0
= flashes

%section.row
  .span6
    %p.larger
      Choose a web programming cartridge or kick the tires with a
      quickstart. After you create the application 
      you can add <strong>cartridges</strong> to enable additional 
      capabilities like databases, metrics, and continuous build 
      support with Jenkins.
  
    %form.form-search.form-search-block{:id => 'form-search-create-apps', :method => 'get'}
      %label.invisible{:for => 'search'} Search by keyword or tag
      %input.search-query{:type => 'text', :id => 'search', :name => 'search', :placeholder => 'Search by keyword or tag'}
      %button.search.font-icon{:type => 'submit', "aria-hidden" => "true", "data-icon" => "\uee03"}
    - if @browse_tags.present?
      %span.dropdown
        %a.btn.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
          Browse by tag...
          %span.font-icon{"aria-hidden" => "true", "data-icon" => "\uee12"}
        %ul.dropdown-menu#tag-filter
          - @browse_tags.each do |(name, tag)|
            - if name
              %li= link_to name, application_types_path(:tag => tag)
            - else
              %hr
  .span6
    %dl.font-icon-legend
      %dt
        %span.font-icon{"aria-hidden" => "true", "data-icon" => "\ue021"}
        Cartridge
      %dd 
        A managed runtime that receives security updates and upgrades automatically.
      %dt
        %span.font-icon{"aria-hidden" => "true", "data-icon" => "\ue029"}
        QuickStart
      %dd 
        An quick way to try out a new technology with code and libraries preconfigured. You are 
        responsible for updating core libraries for security updates.


- if @featured_types.present?
  %section
    %h3.divide Featured
    .row-fluid
      - @featured_types.each do |type|
        %div{:class => @featured_types.length > 2 ? 'span4 tile-dark' : 'span6 tile-dark'}
          = render :partial => 'application_type', :object => type, :locals => {:excluded_tags => []}

%section
  - if @type_groups.empty?
    %p There are no applications available to install

  - elsif @type_groups.length == 1
    - title, types = @type_groups.first
    - excluded_tags = common_tags_for(types)

    %h3.divide= title
    .row
      - in_columns_of(2, types).each do |types|
        .span6
          .section.tile-dark
            - types.sort!.each do |type|
              = render :partial => 'tile', :locals => {:type => type, :excluded_tags => excluded_tags}

  - else
    .row
      - in_balanced_columns_of(2, @type_groups).each do |groups|
        .span6
          - groups.each do |(title, types, link)|
            .section.tile-dark
              %h3.divide
                = title
                - if link
                  %small= link_to "(see all)", link, :class => 'pull-right'
              - excluded_tags = common_tags_for(types)
              - types.sort!.each do |type|
                = render :partial => 'tile', :locals => {:type => type, :excluded_tags => excluded_tags}

  %section
    - unless Quickstart.disabled?
      %p
        Can't find what you're looking for?  Try searching for a specific quickstart or filtering by tag.
        Or, browse the entire list in our #{link_to "QuickStart gallery", community_quickstarts_url}.

    - if Rails.configuration.custom_cartridges_enabled
      %h3.divide Code Anything
      
      %form.form-inline.row{:method => :get, :action => application_type_path('custom')}
        .span6
          %p
            Have your own framework?  Provide the URL of a #{link_to 'custom cartridge', custom_cartridges_help_url} here, and OpenShift will download and 
            provision it automatically into your new app!
          %input{:type => :hidden, :name => :unlock, :value => 'true'}
          %input{:type => :text, :name => 'application_type[cartridges]', :placeholder => 'URL to a cartridge manifest'}
          %input.btn{:type => :submit, :value => 'Next', :title => 'Base an app on your own cartridge'}
          
        .span6
          %p Want to build a custom cartridge? Get started with the DIY cart
          .tile-dark
            - @custom_types.sort!.each do |type|
              = render :partial => 'tile', :locals => {:type => type, :excluded_tags => excluded_tags}



- content_for :javascripts do
  :javascript
    jQuery('.tile-click').click(function() {
      a = $('h3 > a', this)[0];
      window.location = a.href
    });
