-#:css
  .application_type {background-color: #F5F5F5; padding: 9px 35px 10px 21px; margin-bottom: 20px;}
  .application_type > ul.meta > li {display: inline;}
  .application_type > ul.meta > li > label {display: inline;}

%h1.invisible Configure New Application
= app_wizard_steps_create 1
= flashes

= semantic_form_for @application, :html => {:class => 'form-horizontal'} do |f|
  = f.hidden_field :application_type, :value => @application_type.id

  - errors = @application.errors.full_messages.present?
  = f.semantic_errors :name, :domain_name, :node_profile

  = f.inputs do
    = render :partial => 'application_types/application_type_config', :locals => {:form => f, :classes => 'tile', :application_type => @application_type, :advanced => @advanced, :gear_sizes => @gear_sizes}
    = render :partial => 'applications/name', :locals => {:form => f, :errors => errors, :application => @application}
    
  = f.buttons do
    - if @application_type.template
      %p
        %em Deploying this application may take a bit longer than normal while we download and configure the necessary cartridges.
    = link_to "Back", application_types_path, :class => 'btn'
    = f.commit_button :button_html => { :name => 'submit' } 
    = f.loading
