%h1.invisible Configure New Application
= app_wizard_steps_create 1
= breadcrumb_for_create_application(@application_type.persisted? ? "Based on '#{@application_type.display_name}'" : "From scratch")
= flashes

:css
  #new_application.form-horizontal .control-group { margin-bottom: 14px; }
  #new_application.form-horizontal .controls { margin-left: 140px; }
  #new_application.form-horizontal input.expand { width: auto; max-width: -moz-available; }
  #new_application.form-horizontal input.narrow { width: 140px; }
  #new_application.form-horizontal .controls > h3 { margin-top: 5px; margin-bottom: 0; color: #FAFBFC; }
  #new_application.form-horizontal .controls > h3 > small { margin-left: 10px; vertical-align: middle; display: inline-block; }
  #new_application.form-horizontal .controls > h3 > select { margin-top: -5px; }
  #new_application.form-horizontal .control-label { margin-left: 15px; width: 120px; text-align: left; color: #949494; }
  #new_application.form-horizontal .error > .control-label { color: #CD1E25; }
  #new_application.form-horizontal .help-block { color: #949494; max-width: 500px; -moz-transition: 0.2s; overflow: hidden; text-overflow: ellipsis; }
  #new_application.form-horizontal .alert { max-width: 500px; }
  #new_application.form-horizontal .form-actions { padding-left: 140px; }
  #new_application.collapse-help .help-block { white-space: nowrap; opacity: 0.5; margin-top: 0; }
  #new_application.collapse-help .help-block:hover { opacity: 1; cursor: pointer; }
  @media (max-width: 767px) {
    #new_application.form-horizontal .control-label { margin-left: 0; }
    #new_application.form-horizontal .controls { margin-left: 0; }
    #new_application.form-horizontal .help-block { max-width: inherit; white-space: normal; }
    #new_application.form-horizontal .alert { max-width: inherit; }
    #new_application.form-horizontal .controls > h3 { display: inline-block; margin-top: 0; }
    #new_application.form-horizontal .form-actions { padding-left: 10px; }
  }

- advanced_path = application_type_path(@application_type.id, @application_type.to_params.merge(:advanced => true))
- focus = params[:focus]

= semantic_form_for @application, :url => applications_path, :html => {:class => "form-horizontal #{@compact ? 'collapse-help' : ''}"} do |f|
  = hidden_field_tag :advanced, @advanced
  - if @application_type.persisted?
    = f.hidden_field :application_type, :value => @application_type.id
  - else
    - Array(@application_type.cartridges).each do |c|
      = hidden_field_tag 'application_type[cartridges][]', c
    = hidden_field_tag 'application_type[initial_git_url]', @application_type.initial_git_url
    -#= hidden_field_tag 'application_type[initial_git_branch]', @application_type.initial_git_branch

  - e = @application.errors
  = f.semantic_errors :except => [:initial_git_url, :initial_git_branch, :name, :domain_name, :cartridges, :gear_profile]

  - if @application_type.tags.include? :in_development
    .alert This template is development only and not accessible in production

  %fieldset.inputs
    .control-group.control-group-important
      %h3.control-label Based On
      .controls.first
        %h3
          = render :partial => 'application_types/application_type_title', :locals => { :type => @application_type}

      .controls
        - if @application_type.persisted?
          = show_description(@application_type.description, :class => 'help-block')

          - if @application_type.website
            %p.help-block= link_to @application_type.website, @application_type.website
          - if @application_type.learn_more_url
            %p.help-block= link_to "Learn more", @application_type.learn_more_url

          %p.help-block.label-tags= application_type_tags(@application_type.tags)

        - else
          %p.help-block 
            This application is based on a link.
            -# If you want others to see this application, #{link_to "create a quickstart in our community", create_quickstart_url}.
          %p.help-block= link_to "Share this link", application_type_url(@application_type.id, @application_type.to_params)

  %fieldset.inputs
    -# This is implemented custom here rather than integrating into Formtastic because of its specific nature
    -#.control-group.control-group-important{:data => errors ? {:"server-error" => 'true'} : {}, :class => errors ? 'error' : ''}
    = control_group(e.has_key?(:name) || e.has_key?(:domain_name), :important => true) do
      %h3.control-label Public URL
      .controls.first
        = render :partial => 'applications/name', :locals => {:form => f, :application => @application}
        = f.inline_errors_for :name
        = f.inline_errors_for :domain_name
      .controls
        %p.help-block
          OpenShift will automatically register this domain name for your application.  You can add
          your own domain name later.

    = control_group(e.has_key?(:initial_git_url) || e.has_key?(:initial_git_branch), :important => true) do
      %h3.control-label Source Code
      .controls.first
        - if @advanced
          = f.text_field :initial_git_url, :class => 'expand', :placeholder => 'URL to a Git repository', :autofocus => focus == 'initial_git_url'
          -#= f.text_field :initial_git_branch, :class => 'narrow', :placeholder => 'Git branch (optional)'
          %span branch 'master'
        - else
          %h3
            - if @application_type.initial_git_url.present?
              #{link_to @application_type.initial_git_url, @application_type.initial_git_url, :target => "_blank"}
              -# if @application_type.initial_git_branch
                (branch '#{@application_type.initial_git_branch}')
            - else
              Default 
            %small= link_to "Change", advanced_path, :data => {:submit_form => true, :focus => 'initial_git_url'}
        = f.inline_errors_for :initial_git_url
        = f.inline_errors_for :initial_git_branch

      .controls
        %p.help-block 
          - if @application_type.initial_git_url || @advanced
            Your application will start with an exact copy of the code and configuration provided in 
            this Git repository. OpenShift may expect certain files to exist in certain directories,
            which may require you to update your repository after creation.
          - else
            We'll create a Git code repository in the cloud, and populate it with a set of 
            reasonable defaults. 

    = control_group(e.has_key?(:gear_profile), :important => true) do
      %h3.control-label Gears
      .controls.first
        - gear_sizes = @capabilities.gear_sizes
        - if gear_sizes.length > 1
          - if @advanced
            = f.select :gear_profile, gear_sizes.map{ |size| [size.to_s.titleize, size]}, {}, {:autofocus => focus == 'gear_profile'}
          - else
            %h3
              = gear_sizes.first.to_s.titleize
              %small= link_to 'Change', advanced_path, :data => {:submit_form => true, :focus => 'gear_profile'}
            = f.hidden_field :gear_profile

        - else
          %h3= gear_sizes.first.to_s.titleize
          = f.hidden_field :gear_profile
        = f.inline_errors_for :gear_profile

      .controls
        %p.help-block
          Gears are the application containers running your code. For most applications,
          the '#{gear_sizes.first.to_s}' gear size provides plenty of resources.

          - if gear_sizes.length > 1
            If you require more resources, select a larger gear size here.

    = control_group(e.has_key?(:cartridges), :important => true) do
      %h3.control-label Cartridges
      .controls.first
        - if @cartridges.present?
          %h3
            = map_to_sentence(@cartridges) do |(name, carts)|
              - if carts.length > 1
                = select_tag 'application[cartridges][]', options_for_select(carts.sort.map{ |c| [c.display_name, c.name] }, [carts.map(&:name) & @application.cartridge_names].first ), :title => "Choose a cartridge that matches '#{name}'"
              - elsif carts.length == 1
                = hidden_field_tag 'application[cartridges][]', [carts.first.name]
                = carts.first.display_name
              - else
                %span.text-warning #{name}
        - else
          %h3
            %span.text-warning{:title => 'All applications require at least a web cartridge'} None
        = f.inline_errors_for :cartridges

      .controls
        %p.help-block
          Applications are composed of cartridges - each of which exposes a service or 
          capability to your code.  All applications must have a web cartridge.

    .control-group.control-group-important
      %h3.control-label Scaling
      .controls.first
        - can_scale = can_scale_application_type(@application_type, @capabilities)
        - scale_reason = cannot_scale_title(@application_type, @capabilities)
        - if can_scale
          - if @advanced
            = f.select :scale, scale_options, {}, {:autofocus => focus == 'scale'}
          - else
            %h3{:title => "Scaling your web cartridge will allocate an extra gear for the load balancer"}
              = scale_options[@application.scale? ? 1 : 0][0]
              %small= link_to 'Change', advanced_path, :data => {:submit_form => true, :focus => 'scale'}
        - else
          %h3
            %span.text-warning{:title => scale_reason}= scale_options[0][0]

      .controls
        %p.help-block
          OpenShift automatically routes web requests to your web gear.

          - if can_scale
            If you allow your application to scale, we'll set up a load balancer and
            allocate more gears to handle traffic as you need it.

          - else
            %span.text-warning= scale_reason

        = render :partial => 'application_types/application_type_notifications', :locals => { :type => @application_type }

  = f.buttons do
    = link_to "Back", application_types_path, :class => 'btn'
    = f.commit_button :button_html => { :disabled => @disabled } 
    = f.loading

- if @compact
  - content_for :javascripts do
    :javascript
      $(function() {
        $('.help-block').click(function() {
          $("#new_application.collapse-help").removeClass('collapse-help');
        });
      });

- content_for :javascripts do
  :javascript
    $(function() {
      $('a[data-submit-form]').click(function() {
        var fields = $(this).closest('form').serializeArray();

        // Remove special fields
        fields = $.grep(fields, function(field) {
          return ['utf8', 'authenticity_token', 'advanced'].indexOf(field.name) == -1;
        });

        // Explicitly set advanced
        fields.push({name: 'advanced', value: 'true'});

        // Set focus target
        fields.push({name: 'focus', value: $(this).data('focus')});

        window.location.href = "#{application_type_path(@application_type.id)}" + '?' + $.param(fields);
        return false;
      });
    });
    $(function() {
      $('input, textarea').placeholder();
    });

