- input_html = { :class => input_class } if defined? input_class

= semantic_form_for key, :simple => true, :html => {:class => 'form-inline'} do |f|
  = f.semantic_errors
  = f.inputs do
    = f.hidden_field :name, :value => 'default'
    = f.hidden_field :first, :name => 'first', :value => true
    = f.input :raw_content, :as => :text, :label => 'Paste the contents of your public key file', :input_html => input_html, :placeholder => 'Public key contents'
  = f.buttons do
    = f.commit_button :label => 'Create', :button_html => { :class => 'btn btn-primary' }
    = f.loading
