- inactive = inactive if defined? inactive
- reason = reason if defined? reason
- extra_info = extra_info if defined? extra_info
- hide_link = hide_link if defined? hide_link

- classes = "tile #{cartridge_type.tags.join(' ')}"
- classes += " inactive" if inactive
- classes += " tile-click" unless inactive or hide_link
= div_for cartridge_type, :class => classes do

  - if not inactive and cartridge_type.tags.include? :experimental
    %span.label.pull-right Experimental

  %h3= cartridge_type.display_name

  - if extra_info
    %ul.unstyled.meta

      -# if cartridge_type.license
        %li.license
          %label License:
          - if cartridge_type.respond_to? :license_url
            = link_to cartridge_type.license, cartridge_type.license_url
          - else
            %span= cartridge_type.license

      - if cartridge_type.website
        %li.website
          %label Website:
          = link_to cartridge_type.website, cartridge_type.website

      - if cartridge_type.version
        %li.version
          %label Version:
          %span= cartridge_type.version

  - if not (inactive and reason == :installed) and cartridge_type.description.present?
    %p= cartridge_type.description

  - if cartridge_type.learn_more_url
    = link_to "Learn more", cartridge_type.learn_more_url

  - if extra_info and cartridge_type.provides
    %div
      %h4 What you get:
      %ul
        - cartridge_type.provides.each do |provided|
          %li= provided

  - if reason
    - case reason
    - when :requires
      .warning Requires #{cartridge_type.requires.join(',')}
    - when :conflicts
      .warning Conflicts with #{cartridge_type.conflicts.join(',')}
    - when :blocked
      .warning Cannot be added to #{application.framework_name}

  - unless hide_link or inactive
    = link_to "Select »", application_cartridge_type_path(application, cartridge_type), :class => 'btn'

