- breadcrumb_for_application @application, 'Add a Cartridge'
- content_for :page_title, 'Add a Cartridge'

%h1.invisible Add a New Cartridge
= cartridge_wizard_steps_create 0

%section.row
  - if @carts.empty?
    .alert.alert-info There are no cartridges that can be installed

  - else
    .span8
      %p Choose a cartridge to add to your application.
      .row
        - @carts.in_groups(2, false).each do |types|
          .span4
            = render :collection => types, :partial => 'cartridge_types/cartridge_type', :locals => {:application => @application}


  - unless @installed.empty? and @requires.empty? and @conflicts.empty? and @blocked.empty?
    .span4
      - unless @installed.empty?
        %h3 Installed
        = render :collection => @installed, :partial => 'cartridge_types/cartridge_type', :locals => {:application => @application, :inactive => true, :reason => :installed}

      - unless @requires.empty? and @conflicts.empty? and @blocked.empty?
        %h3 Has Dependencies
        = render :collection => @requires, :partial => 'cartridge_types/cartridge_type', :locals => {:application => @application, :inactive => true, :reason => :requires}
        = render :collection => @conflicts, :partial => 'cartridge_types/cartridge_type', :locals => {:application => @application, :inactive => true, :reason => :conflicts}
        = render :collection => @blocked, :partial => 'cartridge_types/cartridge_type', :locals => {:application => @application, :inactive => true, :reason => :blocked}

- content_for :javascripts do
  :javascript
    jQuery('.cartridge_type').click(function() {
      a = $('a.btn', this)[0];
      window.location = a.href
    });
