- content_for :page_style, 'highlight'
- content_for :page_title, 'Add a Cartridge'
:css
  .form-horizontal.add-cartridge .control-label { margin-left: 0; margin-right: 20px; width: auto; display: inline-block; }
  .form-horizontal.add-cartridge .controls { margin-left: auto; display: inline-block; }

- if @wizard
  %h1.invisible Add a Cartridge
  = cartridge_wizard_steps_create 1
- else
  %h1 Add Cartridge to #{link_to @application.name, application_path(@application)}

= semantic_form_for @cartridge, :url => application_cartridges_path(@application), :html => {:class => 'form form-important'} do |f|
  = f.hidden_field :name, :value => @cartridge_type.name
  = f.hidden_field :url, :value => @cartridge_type.url

  = f.semantic_errors

  - if @cartridge_type.custom?
    .alert.alert-info
      This cartridge will be downloaded into your application.  The cart will have access to all of your application data - be sure this is what you really want to do!
      = link_to "Learn more", downloadable_cartridges_help_url

  = render :partial => @cartridge_type, :locals => {:hide_link => true, :extra_info => true, :application => @application}
  = render :partial => 'cartridge_types/cartridge_type_notifications', :locals => { :type => @cartridge_type }

  = f.inputs :class => 'inputs form-horizontal add-cartridge' do
    = control_group(false) do
      .control-label Using Gear Size
      .controls.cartridge_gear_size
        - if @gear_sizes.length > 1
          = f.select :gear_size, @gear_sizes.map{ |size| [size.to_s, size]}, {}
        - elsif @gear_sizes.empty? && @cartridge_type.valid_gear_sizes?
          .inline.error-text
            -if @cartridge_type.valid_gear_sizes.empty? 
              = "No gear sizes supported for this cartridge."
            - else
              = "Requires: #{@cartridge_type.valid_gear_sizes.map(&:to_s).join(', ')}."
        - else
          .inline= @gear_sizes.first.to_s
          = f.hidden_field :gear_size, :value => @gear_sizes.first.to_s

  %p
    Do you want to add the
    %strong
      - if @cartridge_type.custom?
        = link_to @cartridge_type.display_name, @cartridge_type.url
      - else
        = @cartridge_type.display_name
    cartridge to your application?

  = f.buttons do
    = link_to "Back", @wizard ? application_cartridge_types_path(@application) : application_path(@application), :class => 'btn'
    = f.commit_button("Add Cartridge")
    %span#gear_increase
      = gear_increase_indicator({'1' => [@cartridge_type]}, @application.scales?, @application.gear_profile, true, @application.domain.capabilities, @application.domain.usage_rates, @application.owner?)
    = f.loading

  - content_for :javascripts do
    :javascript
      $(function() {
        $('.icon-question-sign').popover({
          content: function() { return $('.popover-cartridge-gear-sizes').html(); },
          trigger: 'hover',
          html: true
        });

        var estimateUrl = function(form) {
          var fields = $.grep(form.serializeArray(), function(field) {
            return ['cartridge[name]', 'cartridge[url]', 'cartridge[gear_size]'].indexOf(field.name) != -1;
          });
          return "#{estimate_application_cartridge_type_path(@application.id, @cartridge_type.name || '-1')}" + '?' + $.param(fields);
        }

        $('select#cartridge_gear_size').change(function() {
          $("#gear_increase").load(estimateUrl($(this).closest('form')));
        });

        $('select#cartridge_gear_size').trigger('change');
      });
